/* {{{ global */
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 12pt;
}
body {
    font-size: 62.5%;
}
.invisible {
    visibility: hidden;
}
.hidden {
    display: none; 
}
/* }}} */

// vim:set ft=scss sw=4 sts=4 fdm=marker :
