// {{{ mixin: debug
@mixin debug {
    border: 1px solid #000000;
}
// }}}
// {{{ mixin: centeredcontainer()
@mixin centeredcontainer($width) {
    position: relative;
    width: $width;
    margin: 0 auto;
    text-align: left;
}
// }}}
// {{{ mixin: minheight()
@mixin minheight($height) {
    height: auto !important;
    height: $height;
    min-height: $height;
}
// }}}
// {{{ mixin: clearfix()
@mixin clearfix($direction: 'both') {
    display: inline-block;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: $direction;
        visibility: hidden;
    }
    * html & { height: 1px }
}
// }}}

// {{{ mixin: radius
@mixin radius($radius, $vert: "", $horiz: "") {
    $other: "";
    $moz: "";

    @if $vert != '' and $horiz != '' {
        $other: "#{$vert}-#{$horiz}-";
        $moz: "#{$vert}#{$horiz}-";
    } @else if $horiz != '' {
        $other: "#{$horiz}-";
        $moz: "#{$horiz}-";
    } @else if $vert != '' {
        $other: "#{$vert}-";
        $moz: "#{$vert}-";
    }

    -webkit-border-#{$other}radius: $radius;
    -moz-border-#{$moz}radius: $radius;
    -ms-border-#{$other}radius: $radius;
    -o-border-#{$other}radius: $radius;
    border-#{$other}radius: $radius;
}
// }}}
// {{{ mixin: box-shadow
@mixin box-shadow($properties) {
    -webkit-box-shadow: $properties;
    -moz-box-shadow: $properties;
    box-shadow: $properties;
}
// }}}
// {{{ mixin: text-shadow
@mixin text-shadow($properties) {
    -webkit-text-shadow: $properties;
    -moz-text-shadow: $properties;
    text-shadow: $properties;
}
// }}}
// {{{ mixin: gradient
@mixin gradient($colors...){
    background: nth($colors, 1); // Old browsers
    background: -moz-linear-gradient(top, $colors); // FF3.6+
    background: -webkit-linear-gradient(top, $colors); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, $colors); // Opera 11.10+
    background: -ms-linear-gradient(top, $colors); // IE10+
    background: linear-gradient(to bottom, $colors); // W3C
}
// }}}

// {{{ mixin: custom-bullet
@mixin custom-bullet($character, $indent: 1.5em) {
    margin-left: $indent;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        top: 0;
        left: - $indent;
        width: $indent;
        content: $character;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :

