<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="Bootstrap.php">
    <php>
        <var name="REMOTE_HOST" value="localhost" />
        <var name="REMOTE_USER" value="testuser" />
        <var name="REMOTE_PASS" value="testpass" />
        <var name="REMOTE_DIR" value="/home/testuser/" />
    </php>

    <logging>
        <log
        type="coverage-html"
        target="Report"
        />
    </logging>
</phpunit>
