// {{{ mixin: custom-bullet
@mixin custom-bullet($character, $indent: 1.5em) {
    margin-left: $indent;
    position: relative;
    list-style: none;

    &::before {
        position: absolute;
        display: block;
        top: 0;
        left: - $indent;
        width: $indent;
        content: $character;

        @content;
    }
}
// }}}
// {{{ mixin: custom-numbering
@mixin custom-numbering($character: ".", $indent: 2em, $numberFormat: decimal) {
    margin-left: $indent;
    position: relative;
    list-style: none;

    &:first-child {
        counter-reset: customNumbering;
    }

    &::before {
        position: absolute;
        display: block;
        top: 0;
        left: - $indent;
        width: $indent;
        content: counter(customNumbering, $numberFormat) $character; /* Use the counter as content */
        counter-increment: customNumbering; /* Increment the counter by 1 */

        @content;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
