// {{{ mixin: centeredcontainer()
@mixin centeredcontainer($width) {
    position: relative;
    width: $width;
    margin: 0 auto;
    text-align: left;
}
// }}}
// {{{ mixin: minheight()
@mixin minheight($height) {
    height: auto !important;
    height: $height;
    min-height: $height;
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :

