// {{{ mixin: custom-bullet
@mixin custom-bullet($character, $indent: 1.5em) {
    margin-left: $indent;
    position: relative;
    list-style: none;

    &::before {
        position: absolute;
        display: block;
        top: 0;
        left: - $indent;
        width: $indent;
        content: $character;

        @content;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
