// {{{ div.color
figure.thumb.color {
    $width: $thumbSize;
    $height: $thumbSize * 0.5;

    .preview {
        display: block;
        width: $width;
        height: $height;
        @include radius(4px);
    }
}
// }}}

// {{{ .colorschemes
.colorschemes {
    .trees,
    .colorscheme,
    .colorprops {
        position: absolute;
        top: 0;
        bottom: 0;
        @extend %scrollY;

        header.info {
            right: 0;
            left: 0;
        }
    }
    .trees {
        left: 0;
        width: $treeWidth;
        max-width: 100%;
    }
    .colorscheme,
    .colorprops {
        left: $treeWidth;
        right: 0;
    }
    .colorscheme {
        bottom: $treeWidth * 2;
    }
    .colorprops {
        top: auto;
        height: $treeWidth * 2;
        bottom: 0;
        border-top: 1px solid $borderColor;
        background: $backgroundLighterColor;
    }

    .tree,
    .color-list,
    .color-property {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
// }}}
// {{{ .colorschemes .color-list
.colorschemes .color-list {
    @extend .file-list;
}
// }}}
// {{{ .colorschemes .color-property
.colorschemes .color-property {
    padding: 15px;

    .sp-container {
        max-width: $treeWidth;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
