// {{{ div.color
figure.thumb.color {
    .preview {
        display: block;
        width: $thumbSize - 8px;
        height: $thumbSize * 0.5 - 8px;
        @include radius(4px);
    }
    @media screen and (max-width: 1030px) {
        .preview {
            width: $thumbSizeSmall - 8px;
            height: $thumbSizeSmall * 0.5 - 8px;
        }
    }
}
// }}}

// {{{ .colorschemes
.colorschemes {
    .trees,
    .colorscheme,
    .colorprops {
        position: absolute;
        top: 0;
        bottom: 0;
        @extend %scrollY;

        header.info {
            right: 0;
            left: 0;
        }
    }
    .trees {
        left: 0;
        width: $treeWidth;
        max-width: 100%;
    }
    .colorscheme,
    .colorprops {
        left: 0;
        right: 0;
    }
    .colorscheme.color-selected {
        bottom: 50%;
    }
    .colorprops {
        display: none;
    }
    .colorscheme.color-selected + .colorprops {
        display: block;
        top: auto;
        height: 50%;
        bottom: 0;
        border-top: 1px solid $borderColor;
        background: $backgroundLighterColor;
    }

    .tree,
    .color-list,
    .color-property {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
// }}}
// {{{ .colorschemes .color-list
.colorschemes .color-list {
    @extend .file-list;

    ul {
        padding-bottom: 0;
    }
}
// }}}
// {{{ .colorschemes .color-property
.colorschemes .color-property {
    padding: 15px;

    .sp-cf {
        max-width: $treeWidth;
    }
    @media screen and (min-width: 1340px) {
        .sp-picker-container {
            padding-bottom: 100px;
        }
        .sp-cf {
            vertical-align: top;
            max-width: $treeWidth - 30px;
            margin-right: 15px;
            display: inline-block;
        }
        .sp-initial {
            float: none;
        }
    }
    .sp-palette,
    .sp-palette-row {
        max-width: 100% !important;
    }
    .sp-container.sp-buttons-disabled .sp-button-container {
        display: none !important;
    }
    .sp-container.sp-palette-buttons-disabled .sp-palette-button-container {
        display: none !important;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
