// {{{ box-welcome, box-login
.box-welcome,
.box-login {
    @extend .box-full-minus-aside;

    .content {
        min-height: 200px;
        border-bottom: none;
        margin-bottom: 45px;

        @media screen and (min-width: 1000px) {
            margin-top: 20vh;
        }

        form {
            padding: 15px;
            background: $backgroundLighterColor;
            border-top: 1px solid $selectionBackgroundColor;
            border-bottom: 1px solid $selectionBackgroundColor;
            @include box-shadow($lightShadow);

            h2 {
                margin-bottom: 15px;
            }
            p.submit input {
                color: $textBrightColor;
                background: $selectionBackgroundColor;

            }
        }
    }

    @media screen and (min-width: 1000px) {
        .content:before {
            @include icon("depagecms", 32px);
        }
    }
}
// }}}
// {{{ box-projects
.box-projects {
    @extend .box-main;

    .content {
        padding-bottom: 44px;
    }
    .content:before {
        @include icon("projects", 32px);
    }
    @media screen and (min-width: 800px) {
        min-height: 70vh;
    }
}
// }}}
// {{{ box-news
.box-news {
    @extend .box-aside;

    @media screen and (min-width: 1000px) {
        .content:before {
            @include icon("depagecms", 32px);
        }
    }
}
// }}}
// {{{ box-help
.box-help {
    @extend .box-aside;

    .content {
        border-bottom: none;
    }

    @media screen and (min-width: 1000px) {
        .content:before {
            @include icon("help-active", 32px);
        }
    }
}
// }}}
// {{{ box-users
.box-users {
    @extend .box-full;
    margin-top: calc(#{$toolbarHeight * 2} * var(--touch-scale));
}
.dashboard .box-users {
    @extend .box-aside;

    @media screen and (min-width: 1000px) {
        .content:before {
            @include icon("users", 32px);
        }
    }
}
// }}}
// {{{ box-tasks
.box-tasks {
    @extend .box-aside;

    @media screen and (min-width: 1000px) {
        .content:before {
            @include icon("tasks", 32px);
        }
    }
}
// }}}
// {{{ box-settings
.box-settings {
    @extend .box-small;

    @media screen and (min-width: 1000px) {
        .content:before {
            @include icon("tasks", 32px);
        }
    }
}
// }}}
// {{{ box-publish
.box-publish {
    @extend .box-full;
}
// }}}

// {{{ projectlist
.projectlist {
    h2 {
        margin-top: 12px;
        margin-bottom: 0;
        color: $textLighterColor;
        letter-spacing: 0.15em;
        font-weight: normal;
        font-size: $fSizeS;

        &:before,
        &:after {
            content: " — ";
        }
    }
    dl {
        text-indent: 0;
        margin: 12px 0 48px calc(28px * var(--touch-scale));

        @media screen and (max-width: $breakMobile) {
            margin-left: 0;
        }
    }
    dt {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
        min-height: calc(32px * var(--touch-scale));
        @include clearfix();

        @media screen and (max-width: $breakMobile) {
            padding-left: calc(32px * var(--touch-scale));
        }
    }
    dd {
        position: relative;
        clear: both;
        padding: 12px;
        margin-bottom: 12px;
        background: #ffffff;
    }
    img.thumb {
        position: absolute;
        display: block;
        top: 0;
        left: calc(-28px * var(--touch-scale));
        width: calc(24px * var(--touch-scale));
        height: calc(24px * var(--touch-scale));

        @media screen and (max-width: $breakMobile) {
            left: 0;
        }
    }
    dt strong,
    a.button {
        float: left;
        line-height: calc(20px * var(--touch-scale));
        height: calc(26px * var(--touch-scale));
        padding: 1px 7px;
        border: 1px solid transparent;
    }
    a.button {
        color: $textLighterColor;

        &:hover {
            background: $selectionBackgroundColor;
            color: $selectionTextColor;
        }
    }
    .buttons {
        float: right;
        @media screen and (max-width: $breakMobile) {
            //float: left;
        }
    }
    dd > .buttons {
        margin-bottom: 20px;

        .icon-add,
        .icon-download {
            position: relative;
            padding-left: 2em;
            overflow: none;
            width: auto;

            &:before {
                display: block;
                content: " ";
                position: absolute;
                top: calc(-2px * var(--touch-scale));
                left: calc(-2px * var(--touch-scale));
                width: calc(2em * var(--touch-scale));
                height: calc(2em * var(--touch-scale));
                background-color: transparent;
            }
        }
        .icon-add:before {
            @include icon-base("add", 24px);
        }
        .icon-download:before {
            @include icon-base("upload-drag-over", 24px);
        }
    }
    a {
        overflow: hidden;
        position: relative;
        height: calc(30px * var(--touch-scale));

        &.icon-edit,
        &.icon-publish,
        &.icon-add,
        &.icon-library,
        &.icon-colors,
        &.icon-settings {
            padding-left: calc(30px * var(--touch-scale));

            &:before {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: calc(2px * var(--touch-scale));
                width: calc(30px * var(--touch-scale));
                height: calc(30px * var(--touch-scale));
                @include icon-base();
            }
        }
        &.icon-add,
        &.icon-library,
        &.icon-colors,
        &.icon-settings {
            width: calc(30px * var(--touch-scale));
            text-indent: -1000em;
            padding-left: 0;
        }
        @media screen and (max-width: $breakMobile) {
            &.icon-edit,
            &.icon-publish {
                width: calc(30px * var(--touch-scale));
                text-indent: -1000em;
                padding-left: 0;
            }
        }
        &.icon-edit:before {
            @include icon("edit", 24px);
        }
        &.icon-publish:before {
            @include icon("publish", 24px);
        }
        &.icon-add:before {
            @include icon("add", 24px);
        }
        &.icon-library:before {
            @include icon("folder", 24px);
        }
        &.icon-colors:before {
            @include icon("colors", 24px);
        }
        &.icon-settings:before {
            @include icon("settings", 24px);
        }
        @media screen and (max-width: $breakMobile) {
            &.preview {
                display: none;
            }
        }
    }
    dt strong {
        padding-left: 0;
    }
    div.details table.lastchanged_pages {
        margin-bottom: 16px;
    }
    div.details table.lastchanged_pages a {
        display: inline;
        float: none;
        padding: 0;
    }
    div.details table.lastchanged_pages a:hover {
        background: none;
    }
    div.details table.lastchanged_pages {
        width: 100%;
    }
    div.details table.lastchanged_pages td {
        padding-left: 8px;
        vertical-align: top;
    }
    div.details table.lastchanged_pages .date {
        text-align: right;
        white-space: nowrap;
        font-size: 10px;
        right: 0;
        top: 0;
    }
}
// }}}
// {{{ projectlist details
.projectlist dl dt .opener {
    display: block;
    content: " ";
    float: left;
    width: calc(24px * var(--touch-scale));
    height: calc(24px * var(--touch-scale));
    margin-top: 1px;
    @include icon-base("closed", 24px);

    @media screen and (max-width: $breakMobile) {
        display: none;
    }
}
.projectlist dl dt.active {
    .opener {
        @include icon("open", 24px);
    }
}
.projectlist dd {
    background: $backgroundBrightColor;
    max-height: 65vh;
    @extend %scrollY;
    @include radius($cornerRadius);
}
// }}}
// {{{ recent-changed
table.recent-changes {
    width: 100%;
    table-layout: fixed;

    td {
        line-height: 24px;
    }

    td.lastchange {
        text-align: center;
        font-size: 0.8em;
    }
    td.url {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            color: #000000;

            &:hover {
                text-decoration: underline;
                background: transparent;
            }
        }
    }
    td.date {
        width: 30%;
        text-align: right;
        font-size: 0.8em;
        white-space: nowrap;
    }
    td.actions {
        width: 70%;
    }
    td.lastchange,
    td.date,
    td.released,
    td.published {
        &,
        a {
            color: #aaaaaa;
        }
    }
}
// }}}
// {{{ table.users
table.users {
    margin-bottom: 40px;

    th,
    td {
        text-align: left;
        vertical-align: top;
        padding: 7px 10px 7px 0;
    }
    th {
        font-weight: bold;
        border-bottom: 1px solid $borderColor;
    }
    td.user-name,
    td.user-type {
        white-space: nowrap;
    }
    td.user-projects  {
        width: 50%;

        p {
            display: inline;
            font-size: $fSizeXS;

            &:after {
                content: ", ";
            }
            &:last-child:after {
                content: "";
            }
        }
    }
}
// }}}
// {{{ tasks
.tasks {
    dt {
        font-weight: normal;
        color: #882200;
        margin-top: 24px;

        &:first-child {
            margin-top: 12px;
        }
    }
    dd {
        margin-left: 0;
        position: relative;
        color: #666666;

        strong {
            font-weight: normal;
            color: #000000;
        }
        p {
            width: 80%;
        }

        &.failed {
            p {
                margin-left: 2em;
            }
            p,
            strong {
                color: #882200;
            }
            strong {
                font-weight: bold;

                &:before {
                    content: "!";
                    display: block;
                    float: left;
                    margin-left: -1em;
                    font-size: 2em;
                }
            }
        }
    }
    #delete-task {
        position: absolute;
        top: -4px;
        right: 0;
        width: auto;

        p.submit {
            input {
                margin: 0;
                font-weight: normal;
                //background: none;
                //border: none;
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
