/* {{{ shy-dialogs */
.depage-shy-dialogue {
    @include depage-shy-dialogue (
        $width: 20em,
        $padding: 10px,
        $background: $backgroundColor,
        $corner-radius: 10px,
        $direction-size: 30px
    );

    z-index: 15000 !important;

    .wrapper {
        @include box-shadow($shadow);
    }
    h1,
    p,
    a {
        font-size: 1em;
    }
}
/* }}} */
// {{{ dialog.full
.dialog-full {
    position: absolute;
    left: 0;
    right: 0;
    top: $toolbarHeight - 1px;
    bottom: 0;
    z-index: 10002;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    @include transition(500ms, "opacity");

    > .content {
        position: absolute;
        top: 0;
        bottom: $toolbarHeight;
        left: 60px;
        right: 60px;
        background: $backgroundColor;
        padding: 11px;
        border: 1px solid $borderColor;
        overflow: hidden;
        @include box-shadow($darkShadow);
        @include transition(500ms, "transform");
        @include transform(translateY(-100%));
        @include radius(10px, "bottom", "left");
        @include radius(10px, "bottom", "right");
    }
    &.visible {
        opacity: 1;

        > .content {
            @include transform(translateY(0));
        }
    }
    .dialog-bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        height: $toolbarHeight * 1.5;
        border-top: 1px solid $borderColor;
        padding: 0 15px;
        text-align: right;

        .button {
            display: inline-block;
        }
    }
    .dialog-bar + .library {
        .trees,
        .files {
            bottom: $toolbarHeight * 1.5;
        }
    }

    header.info + & {
        margin-top: - $infoHeight;
        padding-top: 3 * $infoHeight;
    }
    > .info,
    > form.depage-form {
        padding-left: 16px;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
