// {{{ shy-dialogs
.depage-shy-dialogue {
    @include depage-shy-dialogue (
        $width: 20em,
        $padding: 10px 15px,
        $background: $backgroundDarkColor,
        $corner-radius: $cornerRadius * 2,
        $direction-size: 15px
    );

    z-index: 9000 !important;

    .wrapper {
        max-width: 100%;
        min-width: 20em;
        @include box-shadow($shadow);
    }

    h1,
    p,
    a {
        color: $textBrightColor;
        font-size: 1em;
        line-height: 1.5em;
    }
    input {
        padding: 6px;
        @include radius(4px);
    }
    a.button {
        &:focus,
        &:hover {
            background-color: lighten($backgroundDarkColor, 30%);
        }
        &:focus {
            border-color: $selectionBackgroundColor;
        }
        &.default {
            padding: 6px 12px;
            background: $selectionBackgroundColor;
            color: $textBrightColor;

            &:focus,
            &:hover {
                background: lighten($selectionBackgroundColor, 5%);
            }
        }
    }
}
// }}}
// {{{ body > dialog.full
body > .dialog-full {
    position: absolute;
    left: 0;
    right: 0;
    top: $toolbarHeight - 1px;
    bottom: 0;
    z-index: 5002;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    @include transition(500ms, "opacity");

    > .content {
        position: absolute;
        top: 0;
        bottom: $toolbarHeight;
        left: 60px;
        right: 60px;
        background: $backgroundColor;
        padding: 11px;
        border: 1px solid $borderColor;
        overflow: hidden;
        @include box-shadow($darkShadow);
        @include transition(500ms, "transform");
        @include transform(translateY(-100%));
        @include radius(10px, "bottom", "left");
        @include radius(10px, "bottom", "right");
    }
    @media (pointer:coarse) {
        top: $toolbarHeight * $touchScale - 1px;

        > .content {
            bottom: $toolbarHeight * $touchScale;
        }
    }
    &.visible {
        opacity: 1;

        > .content {
            @include transform(translateY(0));
        }
    }
    .dialog-bar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        height: $toolbarHeight * 1.5;
        border-top: 1px solid $borderColor;
        padding: 0 15px;
        text-align: center;

        @media (pointer:coarse) {
            height: $toolbarHeight * 1.5 * $touchScale;
        }

        .button {
            display: inline-block;
            height: $toolbarHeight;
            line-height: $toolbarHeight;
            padding: 0 10px;
            margin: 7px 7px;
            background: $backgroundLighterColor;

            &:hover {
                background: $backgroundBrightColor;
            }
            &.default {
                font-weight: bold;
                background: $selectionBackgroundColor;
                color: $selectionTextColor;
            }
            &.default.disabled {
                opacity: 0.5;
                background: $backgroundDisabledColor;
                cursor: auto;
            }
        }
    }
    .dialog-bar + .library {
        .trees,
        .files {
            bottom: $toolbarHeight * 1.5;

            @media (pointer:coarse) {
                bottom: $toolbarHeight * 1.5 * $touchScale;
            }
        }
    }

    header.info + & {
        margin-top: - $infoHeight;
        padding-top: 3 * $infoHeight;
    }
    > .info,
    > form.depage-form {
        padding-left: 16px;
    }
}
// }}}
// {{{ .layout > dialog.full
.layout > .dialog-full {
    padding: 11px;

    header.info + & {
        margin-top: - $infoHeight;
        padding-top: 3 * $infoHeight;
    }
    > .info,
    > form.depage-form {
        padding-left: 16px;
    }
}
// }}}
// {{{ upload
html[lang='en'] {
    #upload .dropArea.has-drop-support .content:before {
        content: "Drop files here";
    }
}
html[lang='de'] {
    #upload .dropArea.has-drop-support .content:before {
        content: "Dateien hierhin ziehen";
    }
}
#upload {
    background: rgba(255, 255, 255, 0.5);

    .box {
        //@include radius(7px);
        @include box-shadow(0px 5px 15px 5px rgba(0, 0, 0, 0.3));
        width: 520px;
        border: 1px solid $borderColor;
        padding: 10px;
        background: $backgroundColor;
        margin: auto;
    }

    p.submit {
        display: none;
    }
    p.input-file {
        width: 100%;

        input {
            width: 100%;
            border: none;
            background: none;
            padding-left: 0;
        }
    }
    .dropArea.has-drop-support {
        $size: 48px * 2.5;
        height: 250px;

        .content:before {
            display: block;
            position: relative;
            margin: auto;
            width: $size * 2;
            text-align: center;
            font-size: 16px;
        }
        .content:after {
            @include icon-base("upload", $size);
            display: block;
            content: " ";
            position: relative;
            border: 1px solid $borderColor;
            @include radius(14px);
            margin: auto;
            width: $size;
            height: $size;
        }
        &.drag-over .content:after {
            @include icon("upload-drag-over", $size);
            border-color: #4E4C4B;
        }
    }
    .progressArea {
        width: 400px;

        .textinfo {
            display: block;
        }
        progress {
            display: block;
        }
    }
}
// }}}
// {{{ choose-image-center
.choose-image-center {
    $width: 512px;
    figure.thumb {
        position: relative;
        width: $width;
        max-width: 100%;
        margin: 10px auto;
        padding: 0;
        cursor: pointer;

        &::after {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }

        img {
            width: $width;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }
    .cursor {
        $size: 20px;
        position: absolute;
        z-index: 11;
        will-change: left, top;
        cursor: pointer;

        &::before {
            position: absolute;
            display: block;
            content: " ";
            border-radius: $size * 0.5;
            width: $size;
            height: $size;
            left: -0.5 * $size - 2px;
            top: -0.5 * $size - 2px;
            border-style: solid;
            border-width: 2px;
            border-color: $backgroundColor;
            background-color: $selectionBackgroundColor;
        }
    }
    .examples {
        $width: 52px;
        text-align: center;
        img {
            display: inline-block;
            border: 1px solid $backgroundBrightColor;
            border-right: none;
            object-fit: cover;
            width: $width * 2;
            height: $width * 2;
        }
        .example1 {
            width: $width;
        }
        .example2 {
        }
        .example3 {
            width: $width * 3;
        }
        .example4 {
            width: $width * 4;
            border-right: 1px solid $backgroundBrightColor;
        }
    }
    .center-selector {
        background: #ffffff;
    }
    .dialog-bar + .center-selector {
        bottom: $toolbarHeight * 1.5;

        @media (pointer:coarse) {
            bottom: $toolbarHeight * 1.5 * $touchScale;
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
