// {{{ figure.thumb
figure.thumb {
    $width: 120px;
    $height: 120px;
    border: 1px solid $backgroundBrightColor;
    background: #ffffff;
    position: relative;
    width: $width + 8px;
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 7px;
    @include radius(5px);

    img {
        display: block;
        width: $width;
        height: $height;
    }
    figcaption {
        font-size: $fSizeS;
        max-width: 100%;
        color: $textLighterColor;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 5px;
    }
    .fileinfo {
        position: absolute;
        display: none;
        background: #ffffff;
        border: 1px solid;
        padding: 5px;
        top: -1px;
        left: 100%;
        min-width: $width * 2;
        max-width: $width * 3;
        z-index: 10000;
    }
    &:hover .fileinfo {
        display: block;
    }
}
// }}}

// {{{ .library
.library {
    .trees,
    .files {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: auto;

        header.info {
            right: 0;
            left: 0;
        }
    }
    .trees {
        left: 0;
        width: $treeWidth;
        max-width: 100%;
    }
    .files {
        left: $treeWidth;
        right: 0;
    }

    .tree,
    .file-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: $infoHeight;
    }
}
.toolbar ~ .library .trees,
.toolbar ~ .library .files {
    top: $toolbarHeight;
}
// }}}
// {{{ .library .trees
.library .tree {

}
// }}}
// {{{ .library .file-list
.library .file-list {
    padding: 15px;
    background: #ffffff;

    li {
        list-style: none;
        vertical-align: top;
        display: inline-block;

        figure.thumb {
            cursor: pointer;

            &:hover {
                background: $backgroundBrightColor;
            }
            &.selected {
                border-color: $selectionBackgroundColor;
                background: $selectionBackgroundColor;

                figcaption {
                    color: $selectionTextColor;
                    font-weight: bold;
                }
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
