// {{{ figure.thumb
figure.thumb {
    border: 1px solid $borderColor;
    position: relative;
    width: 126px;
    padding: 3px;

    img {
        display: block;
        width: 126px - 6px;
        height: 126px - 6px;
    }
    figcaption {
        font-size: $fSizeS;
        max-width: 100%;
        //overflow: hidden;
        color: $textLighterColor;
    }
    .fileinfo {
        position: absolute;
        display: none;
        background: #ffffff;
        border: 1px solid;
        padding: 5px;
        top: -1px;
        left: 100%;
        min-width: 126px * 2;
        max-width: 126px * 3;
        z-index: 10000;
    }
    &:hover .fileinfo {
        display: block;
    }
}
// }}}

// {{{ .library
.library {
    .trees,
    .files {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: auto;

        header.info {
            right: 0;
            left: 0;
        }
    }
    .trees {
        left: 0;
        width: $treeWidth;
        max-width: 100%;
    }
    .files {
        left: $treeWidth;
        right: 0;
    }

    .tree,
    .file-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: $infoHeight;
    }
}
.toolbar ~ .library .trees,
.toolbar ~ .library .files {
    top: $toolbarHeight;
}
// }}}
// {{{ .library .trees
.library .tree {

}
// }}}
// {{{ .library .file-list
.library .file-list {
    padding: 15px;

    li {
        list-style: none;
        vertical-align: top;
        display: inline-block;

        figure.thumb {
            cursor: pointer;
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
