/* {{{ depage-forms */
.depage-form {
    @include clearfix();
    position: relative;
    width: 100%;
    max-width: 100%;

    input,
    button,
    select,
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input,
    button,
    select,
    textarea,
    .textarea,
    .textarea-content,
    .selectize-input {
        padding: 8px 12px;
        font-size: $fSizeM + 1px;

        &::placeholder {
            color: $textDisabledColor;
        }
    }

    &.saving::before {
        content: "saving";
        position: absolute;
        top: 0;
        right: 0;
    }
    p {
        margin-bottom: 5px;
    }
    p.input-richtext {
        .textarea,
        .textarea-content,
        textarea {
            min-height: 3em;
        }
        .textarea,
        textarea {
            display: inline-block;
            margin-bottom: 0;
        }
    }
    p.input-richtext .textarea-content {
        a {
            color: $selectionBackgroundColor;
            text-decoration: underline;
        }
        li {
            padding: 0;
        }
        p,
        ul,
        ol {
            margin-bottom: 7px;
            padding: 0;
        }
        ul,
        ol {
            &,
            li {
                font-size: 1em;
            }
        }
        ul li {
            @include custom-bullet("–", 1.8em);
        }
        ol li {
            @include custom-numbering(".", 1.8em);
        }
        table {
            width: 100%;
            max-width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            td {
                position: relative;
                vertical-align: top;
                border: 1px solid $borderColor;
                padding: 3px 6px;
                white-space: normal;
                word-break: break-word;
                word-wrap: break-word;
                width: auto;

                &:last-child {
                    padding-right: 1em;

                    &:before,
                    &:after {
                        position: absolute;
                        display: block;
                        right: 0;
                        width: 1em;
                        text-align: center;
                        height: 1.1em;
                        line-height: 1.1em;
                        cursor: pointer;
                        @include radius(50%);
                    }
                }
                &:last-child:before {
                    content: "+";
                    top: 0em;
                }
                &:last-child:after {
                    content: "-";
                    top: 1.1em;
                }
            }
        }
    }
    p.input-single.skin-radio,
    p.input-multiple.skin-checkbox,
    p.input-boolean {
        label {
            position: relative;
        }

        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            z-index: 100;
            opacity: 0;
        }
        input[type="radio"] + span {
            padding-left: $checkboxSize;
        }
        input[type="checkbox"] + span {
            padding-left: $checkboxSize * 1.25;
        }
        input[type="radio"] + span::before,
        input[type="checkbox"] + span::before {
            position: absolute;
            top: -7px;
            //top: -1px;
            left: 0;
            width: $checkboxSize;
            height: $checkboxSize;
            content: "";
            display: block;
        }
        input[type="radio"] + span::before {
            @include icon-base("radio-unchecked", $checkboxSize);
        }
        input[type="radio"]:checked + span::before {
            @include icon("radio-checked", $checkboxSize);
        }
        input[type="checkbox"] + span::before {
            @include icon-base("switch-off", $checkboxSize);
            //@include icon-base("checkbox-unchecked", $checkboxSize);
        }
        input[type="checkbox"]:checked + span::before {
            @include icon("switch-on", $checkboxSize);
            //@include icon("checkbox-checked", $checkboxSize);
        }
    }
    p.submit,
    p.cancel {
        float: left;

        input {
            margin-top: 24px;
            cursor: pointer;
        }
        input ~ a {
            margin-left: 24px;
        }
    }
    p.submit {
        input {
            font-weight: bold;
            color: $textBrightColor;
            background: $selectionBackgroundColor;
        }
    }
    p.cancel {
        clear: none;
        margin-left: 12px;

        input {
            background: none;
            border: none;
            text-decoration: underline;

            &:hover {
                color: #000000;
            }
        }
    }
    fieldset {
        position: relative;
        border: none;
        padding-top: 0;
        padding-bottom: 10px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        margin-bottom: -1px;

        & + fieldset {
            border-top: 1px solid $borderLightColor;

        }
        &.focus {
            border-top: 1px solid $selectionBackgroundColor;
            border-bottom: 1px solid $selectionBackgroundColor;
            z-index: 20;
        }

        legend {
            font-weight: bold;
            line-height: 15px;
            padding-right: 15px;
            margin-top: 12px;
            margin-bottom: 6px;
            float: left;
        }
        p {
            clear: left;
        }

        .scrollable-content {
            clear: left;
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
            max-height: 25vh;
        }
    }
}
/* }}} */
/* {{{ sortable forms */
.sortable-forms {
    $height: $menuLineHeight * 1.5;
    margin-top: 40px;

    form fieldset {
        border-color: transparent !important;
    }

    .sortable {
        position: relative;
        padding: 0;
        margin: 0;
        height: $height;
        width: 75%;
        margin-left: 25%;

        &.new {
            margin-top: 40px;

            h1 {
                padding-left: 2em;
                color: $textBaseColor;
                text-decoration: none;
                border-top: 1px solid transparent;

                &:before {
                    display: block;
                    content: " ";
                    position: absolute;
                    top: 10px;
                    left: 0em;
                    width: 2em;
                    height: 2em;
                    background-color: transparent;
                    @include icon-base("add", 24px);
                }
            }
        }
        &:first-child {
            h1 {
                border-top: 1px solid transparent;
            }
        }
        &:target,
        &.active {
            z-index: 100;

            h1,
            form {
                @include box-shadow($lightShadow);
            }
            h1,
            form,
            form::before {
                border-top: 1px solid $selectionBackgroundColor;
                border-bottom: 1px solid $selectionBackgroundColor;
            }
            h1 {
                border-left: 5px solid $selectionBackgroundColor;
                background-color: $backgroundLighterColor;
                font-weight: bold;
                width: 33%;
                color: $textBaseColor;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
            form {
                display: block;
                padding-top: 12px;

                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: -1px;
                    left: -10px;
                    width: 10px;
                    height: $height;
                    background-color: $backgroundLighterColor;
                }
            }
        }
        &.dragged {
            position: absolute;
            z-index: 5000;

            h1 {
                background-color: $backgroundLighterColor;
                font-weight: bold;
                width: 133%;
                @include box-shadow($lightShadow);
                //@include radius($cornerRadius);
            }
            form {
                display: none !important;
            }
        }
        h1 {
            position: relative;
        }
    }
    .placeholder {
        height: $height;
    }

    h1,
    form {
        padding: 5px 10px;
        background-color: $backgroundLighterColor;
    }
    h1 {
        position: absolute;
        left: -33%;
        top: 0;
        display: block;
        cursor: pointer;
        width: 133%;
        height: $height;
        line-height: $height;
        margin: 0;
        float: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: none;
        font-weight: normal;
        padding-top: 0;
        margin: -($menuLineHeight * 0.125) 0;
        color: $linkColor;
        text-decoration: none;
        border-top: 1px solid $borderLightColor;
        border-bottom: 1px solid transparent;
        border-left: 5px solid transparent;
    }
    .placeholder {
        height: $height;
    }

    form {
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    p.submit {
        position: static;
        float: none;
    }
}
/* }}} */
// {{{ .edit-href
.edit-href {
    input.dnd-hover {
        outline: 1px solid $selectionBackgroundColor;
    }
}
// }}}
// {{{ .edit-href .edit-src
.edit-href,
.edit-src {
    position: relative;
    input {
        padding-right: 40px;
    }

    .choose-file {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 35px;
        background: $baseColor;
        padding: 3px 0px 11px 0px;
        text-align: center;
        line-height: 5px;
        font-weight: bold;
        color: $textBaseColor !important;
        @include radius(3px);

        &:hover {
            background: $backgroundColor;
        }
    }
}
// }}}
// {{{ .edit-target
.edit-target {
    .depage-label {
        display: none;
    }
}
// }}}
// {{{ .edit-source
.edit-source {
    textarea {
        font-family: "Courier";
    }
}
// }}}
// {{{ .selectize-input
.depage-form {
    .selectize-input.dropdown-active,
    .selectize-input.dropdown-active::before,
    .selectize-dropdown {
        color: $textBrightColor !important;
        background-color: $backgroundMenu !important;
    }
}
// }}}
// {{{ .depageEditorToolbar
.depageEditorToolbar {
    $buttonSize: $treeLineHeight;
    $radius: 4px;
    list-style: none;
    position: absolute;
    width: auto;
    height: $buttonSize;
    left: 0;
    transform: translateX(-50%);
    max-width: 90vw;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
    color: #ffffff;
    font-size: 1em;
    padding: 0 $radius;
    background-color: $backgroundMenu;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    @include radius($radius);

    &:after {
        content: " ";
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        top: $buttonSize;
        border: 5px solid transparent;
        border-top-color: $backgroundMenu;
    }

    li {
        font-size: 14px;
        margin: 0;
        padding: 0 0.4em;
        display: inline-block;
        vertical-align: top;
        line-height: $buttonSize - 2px;
        min-width: $buttonSize;
        height: $buttonSize;
        text-align: center;
        cursor: pointer;

        &.format-a,
        &.format-p,
        &.format-ul,
        &.format-ol {
            @include icon-base();
            text-indent: -1000em;
        }
        &.format-a {
            @include icon("format-a", $buttonSize);
        }
        &.format-p {
            @include icon("format-p", $buttonSize);
        }
        &.format-ul {
            @include icon("format-ul", $buttonSize);
        }
        &.format-ol {
            @include icon("format-ol", $buttonSize);
        }
    }
}
// }}}
// {{{
#backup-restore-file  {
    .depage-label {
        width: 100%;
    }
    span > span {
        display: block;
        width: 100%;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
