@import "../../../shared/depage-jquery-plugins/sass/_depage-growl";

// {{{ depage-growl
#depageGrowlArea {
    z-index: 9999 !important;

    div.depage-growl-message {
        background-color: $backgroundDarkColor;
        background-color: $selectionBackgroundColor;
        color: $textBrightColor;

        @include box-shadow(0 3px 0.4em 0 rgba(0, 0, 0, 0.5));

        &:hover {
            border-color: $insertMarkerBackground;
            background-color: $selectionBackgroundColor;
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
