/* {{{ header.info */
header.info {
    height: $infoHeight;
    flex: 0 0 auto;
    width: 100%;
    border-bottom: 1px solid $borderColor;
    background: $backgroundColor;
    z-index: 5001;

    h1 {
        padding: 0;
        margin: 0;
        padding-left: 12px;
        font-weight: normal;
        font-size: $fSizeXS;
        line-height: $infoHeight - 2px;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        span.title {
            margin-left: 10px;
            color: #666666;
        }
    }
    &.info-doc-properties {
        border-left: 1px solid $borderColor;
    }
}
.preview header.info {
    top: 0;
    width: 100%;
}
/* }}} */

// vim:set ft=scss sw=4 sts=4 fdm=marker :
