/* {{{ icons global */
@font-face {
    font-family: 'depage-icons';
    src:url('../fonts/depage-icons.eot');
    src:url('../fonts/depage-icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/depage-icons.woff') format('woff'),
        url('../fonts/depage-icons.ttf') format('truetype'),
        url('../fonts/depage-icons.svg#depage-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
    position: relative;
    font-family: 'depage-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    &:before {
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 1.3em;
        text-align: center;
    }
}
@mixin iconChar($name, $char) {
    .icon-#{$name} {
        @extend .icon;

        &:before {
            content: $char;
        }
    }
}
/* }}} */

@include iconChar("editor-bold", "\62");
@include iconChar("editor-italic", "\69");

@mixin icon-base($name: "", $size: 48px) {
    $scale: $size / 48px;
    $iSize: 48px * $scale;

    background-repeat: no-repeat;
    background-image: url(../images/icon_sprite.svg?201807312351);
    background-size: (4 * $iSize) (20 * $iSize);

    @if ($name != "") {
        @include icon($name, $size);
    }

}
@mixin icon($name, $size: 48px) {
    $scale: $size / 48px;
    $iSize: 48px * $scale;
    $icons: (
        depagecms: 0 0,
        users: 0 1,
        user: 1 1,
        projects: 2 1,
        tasks: 0 2,
        settings: 1 2,
        colors: 2 2,
        left-full: 0 3,
        split: 1 3,
        tree-split: 2 3,
        right-full: 3 3,
        left-full-active: 0 4,
        split-active: 1 4,
        tree-split-active: 2 4,
        right-full-active: 3 4,
        upload: 0 5,
        upload-drag-over: 1 5,
        add: 0 6,
        remove: 1 6,
        add-white: 2 6,
        remove-white: 3 6,
        help: 0 7,
        help-active: 1 7,
        closed: 0 8,
        open: 1 8,
        folder: 0 9,
        page: 1 9,
        pg-meta: 2 9,
        redirect: 3 9,
        help-tree: 0 10,
        help-properties: 1 10,
        help-preview: 2 10,
        unreleased: 3 10,
        edit-text: 0 11,
        edit-headline: 1 11,
        edit-video: 2 11,
        edit-audio: 3 11,
        edit-unknown: 0 12,
        sec-section: 1 12,
        edit-img: 2 12,
        sec-vcard: 3 12,
        sec-section-2col: 0 13,
        sec-section-2col-1: 1 13,
        sec-section-2col-2: 2 13,
        edit-imgtext: 3 13,
        sec-section-2col-xl: 0 14,
        sec-section-2col-xl-1: 1 14,
        sec-section-2col-xl-2: 2 14,
        sec-edit-source: 3 14,
        sec-section-3col: 0 15,
        sec-section-3col-1: 1 15,
        sec-section-3col-2: 2 15,
        sec-section-3col-3: 3 15,
        create: 0 17,
        duplicate: 1 17,
        delete: 2 17,
        cancel: 3 17,
        checkbox-checked: 0 18,
        checkbox-unchecked: 1 18,
        checkbox-checked-white: 2 18,
        checkbox-unchecked-white: 3 18,
        switch-on: 0 19,
        switch-off: 1 19,
        radio-checked: 2 19,
        radio-unchecked: 3 19,
    );

    @if map_has_key($icons, $name) {
        $pos: map_get($icons, $name);
        background-position: (nth($pos, 1) * -1 * $iSize) (nth($pos, 2) * -1 * $iSize);
    }

    @if ($scale != 1) {
        background-size: (4 * $iSize) (20 * $iSize);
    }
}
@mixin tree-icon($name, $icon) {
    .icon-#{$name} > .jstree-icon {
        @include icon-base($icon, $iconSize);
    }
}


/* vim:set ft=scss sw=4 sts=4 fdm=marker : */
