@mixin icon-base($name: "", $size: 48px) {
    $scale: $size / 48px;
    $iSize: 48px * $scale;

    background-repeat: no-repeat;
    background-image: url(../images/icon_sprite.svg?202203241243);
    background-size: calc(#{(8 * $iSize)} * var(--touch-scale)) calc(#{(24 * $iSize)} * var(--touch-scale));

    @if ($name != "") {
        @include icon($name, $size);
    }

}
@mixin icon($name, $size: 48px) {
    $scale: $size / 48px;
    $iSize: 48px * $scale;
    $icons: (
        none: -10 -10,
        depagecms: 0 0,
        users: 0 1,
        user: 1 1,
        projects: 2 1,
        tasks: 0 2,
        settings: 1 2,
        colors: 2 2,
        edit: 3 2,
        publish: 5 2,
        layout-left-full: 0 3,
        layout-split: 1 3,
        layout-tree-split: 2 3,
        layout-pages: 3 3,
        layout-document: 4 3,
        layout-properties: 5 3,
        layout-preview: 6 3,
        layout-left-full-active: 0 4,
        layout-split-active: 1 4,
        layout-tree-split-active: 2 4,
        layout-pages-active: 3 4,
        layout-document-active: 4 4,
        layout-properties-active: 5 4,
        layout-preview-active: 6 4,
        upload: 0 5,
        upload-drag-over: 1 5,
        reload: 2 5,
        search: 3 5,
        search-white: 4 5,
        add: 0 6,
        remove: 1 6,
        add-white: 2 6,
        remove-white: 3 6,
        help: 0 7,
        help-active: 1 7,
        published: 2 7,
        unreleased: 3 7,
        unpublished: 4 7,
        closed: 0 8,
        open: 1 8,
        mobile-next: 2 8,
        mobile-next-white: 3 8,
        folder: 0 9,
        page: 1 9,
        pg-meta: 2 9,
        redirect: 3 9,
        help-tree: 0 10,
        help-properties: 1 10,
        help-preview: 2 10,
        unreleased-small: 3 10,
        protected-small: 4 10,
        edit-text: 0 11,
        edit-headline: 1 11,
        edit-video: 2 11,
        edit-audio: 3 11,
        edit-unknown: 0 12,
        sec-section: 1 12,
        edit-img: 2 12,
        sec-vcard: 3 12,
        sec-section-2col: 0 13,
        sec-section-2col-1: 1 13,
        sec-section-2col-2: 2 13,
        edit-imgtext: 3 13,
        sec-section-2col-xl: 0 14,
        sec-section-2col-xl-1: 1 14,
        sec-section-2col-xl-2: 2 14,
        sec-edit-source: 3 14,
        sec-section-3col: 0 15,
        sec-section-3col-1: 1 15,
        sec-section-3col-2: 2 15,
        sec-section-3col-3: 3 15,
        create: 0 17,
        duplicate: 1 17,
        delete: 2 17,
        clear: 3 17,
        choose-image-center: 4 17,
        checkbox-checked: 0 18,
        checkbox-unchecked: 1 18,
        checkbox-checked-white: 2 18,
        checkbox-unchecked-white: 3 18,
        switch-on: 0 19,
        switch-off: 1 19,
        radio-checked: 2 19,
        radio-unchecked: 3 19,
        img-full: 0 20,
        img-crop: 1 20,
        img-contain: 2 20,
        target-self: 3 20,
        target-blank: 4 20,
        img-full-white: 0 21,
        img-crop-white: 1 21,
        img-contain-white: 2 21,
        target-self-white: 3 21,
        target-blank-white: 4 21,
        cancel: 0 22,
        cancel-white: 1 22,
        format-a: 0 23,
        format-p: 1 23,
        format-ul: 2 23,
        format-ol: 3 23,
    );

    @if map_has_key($icons, $name) {
        $pos: map_get($icons, $name);
        $length: length(map_get($icons, $name));
        background-position: calc(#{(nth($pos, 1) * -1 * $iSize)} * var(--touch-scale)) calc(#{(nth($pos, 2) * -1 * $iSize)} * var(--touch-scale));

        @if ($scale != 1) {
            background-size: calc(#{(8 * $iSize)} * var(--touch-scale)) calc(#{(24 * $iSize)} * var(--touch-scale));
        }

    }

}
@mixin tree-icon($name, $icon) {
    .icon-#{$name} > .jstree-icon {
        @include icon-base($icon, $iconSize);
    }
}


/* vim:set ft=scss sw=4 sts=4 fdm=marker : */
