// {{{ .box
.box {
    position: relative;
    padding: 20px;

    @media screen and (max-width: 800px) {
        padding: 1px 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .content {
        position: relative;
        width: 4 * $treeWidth;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 12px 12px 12px;

        height: auto !important;
        height: 48px;
        min-height: 48px;
    }
    .bottom {
        position: absolute;
        bottom: 12px;
    }
    .right {
        right: 12px;
    }
    small {
        font-size: 10px;
    }
    a.new {
        position: relative;
        padding-left: 24px;
        color: #000000;

        &:before {
            display: block;
            content: " ";
            position: absolute;
            top: -4px;
            left: -4px;
            width: 2em;
            height: 2em;
            background-color: transparent;
            @include icon-base("add", 24px);
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
// }}}
// {{{ .box-main
.box-main {
    @extend .box;

    width: 66.6666%;
    float: left;
}
// }}}
// {{{ .box-aside
.box-aside {
    @extend .box;

    width: 33.3333%;
    max-width: 1.5 * $treeWidth;
    float: right;
    padding-left: 0;
    padding-bottom: 0;
}
// }}}
// {{{ centered_box
.centered_box {
    @extend .box;
    width: 100%;

    .content {
        position: relative;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding-top: 12px;
        }

        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: 5px;
            left: -70px;
            width: 48px;
            height: 48px;
            font-size: 1em;
            opacity: 1;
            @include icon-base();

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
    &:hover {
        .content:before {
            opacity: 1;
        }
    }
    .scrollable-content &:first-child {
        margin-top: 100px;

        @media screen and (max-width: 768px) {
            margin-top: 0;
        }

        .content {
            height: auto !important;
            height: 200px;
            min-height: 250px;
        }
    }
}
// }}}
// {{{ layouts
html {
    // base styles for layouts
    header.info,
    .toolbar menu.preview,
    .layout {
        @include transition(200ms, "left, right, width");
    }
    .scrollable-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    header.info ~ .scrollable-content {
        top: $infoHeight;
    }
    .layout-left,
    .layout-right {
        position: absolute;
        top: 0;
        bottom: 0;

        header.info {
            //top: 0;
            right: 0;
        }
    }
    .toolbar ~ .layout-left,
    .toolbar ~ .layout-right {
        top: $toolbarHeight;

        @media (pointer:coarse) {
            top: $toolbarHeight * $touchScale;
        }
    }
    .layout-left {
        left: 0;
    }
    .layout-right {
        right: 0;
    }

    // layout basics
    &.layout-left-full {
        .layout-left {
            right: 0;
            width: 100%;
        }
        .layout-right {
            left: 100%;
            width: 0;
        }
    }
    &.layout-right-full {
        .layout-left {
            left: -$editWidth;
            width: $editWidth;
        }
        .layout-right {
            left: 0;
            width: 100%;
        }
        .toolbar menu.preview {
            left: 160px;
            display: block;
        }
    }
    &.layout-split {
        .layout-left {
            left: 0;
            width: $editWidth;
            max-width: 100%;
        }
        .layout-right {
            left: $editWidth;
            right: 0;
            border-left: 1px solid $borderColor;
        }
        .toolbar menu.preview {
            left: $editWidth;
            display: block;
        }
    }
    &.layout-tree-split {
        .layout-left {
            left: 0;
            width: $editWidth * 0.85;
            max-width: 100%;
        }
        .layout-right {
            left: $treeWidth;
            right: 0;
            border-left: 1px solid #000000;
        }
    }

    // layouts for media sizes
    @media screen and (min-width: 1800px) {
        $currentEditWidth: $editWidth + 0.5 * $treeWidth;

        &.layout-right-full {
            .layout-left {
                left: -$currentEditWidth;
                width: $currentEditWidth;
            }
        }
        &.layout-split {
            .layout-left {
                width: $currentEditWidth;
            }
            .layout-right {
                left: $currentEditWidth;
            }
            .toolbar menu.preview {
                left: $currentEditWidth;
            }
        }
    }
    @media screen and (max-width: 1340px) {
        $currentEditWidth: $editWidth - 0.5 * $treeWidth;

        &.layout-right-full {
            .layout-left {
                left: -$currentEditWidth;
                width: $currentEditWidth;
            }
        }
        &.layout-split {
            .layout-left {
                width: $currentEditWidth;
            }
            .layout-right {
                left: $currentEditWidth;
            }
            .toolbar menu.preview {
                left: $currentEditWidth;
            }
        }
    }
    @media screen and (max-width: 1030px) {
        $currentEditWidth: $editWidth - 1 * $treeWidth;

        &.layout-right-full {
            .layout-left {
                left: -$currentEditWidth;
                width: $currentEditWidth;
            }
        }
        &.layout-split {
            .layout-left {
                width: $currentEditWidth;
            }
            .layout-right {
                left: $currentEditWidth;
            }
            #toolbarmain menu.preview {
                left: $currentEditWidth;
                margin-left: -230px;
                width: 230px;
                text-align: right;
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
