// {{{ .box
.box {
    position: relative;
    padding: 20px;

    .content {
        position: relative;
        width: 4 * $treeWidth;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 12px 12px 12px;

        height: auto !important;
        height: 48px;
        min-height: 48px;
        border-bottom: 1px solid $borderLightColor;

        &.full {
            width: 100%;
        }
    }
    .bottom {
        position: absolute;
        bottom: 12px;
    }
    .right {
        right: 12px;
    }
    small {
        font-size: 10px;
    }
    a.new {
        position: relative;
        padding-left: 24px;
        color: #000000;

        &:before {
            display: block;
            content: " ";
            position: absolute;
            top: -4px;
            left: -4px;
            width: 2em;
            height: 2em;
            background-color: transparent;
            @include icon-base("add", 24px);
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
// }}}
// {{{ .box-main
.box-main {
    @extend .box;

    width: 66.6666%;
    max-width: 4 * $treeWidth;
    float: left;
}
// }}}
// {{{ .box-full
.box-full {
    @extend .box;

    width: 100%;
}
// }}}
// {{{ .box-full-minus-aside
.box-full-minus-aside {
    @extend .box;

    float: left;
    width: 100%;

    @media screen and (min-width: 1000px) and (max-width: 1600px) {
        width: 100% - 33.3333%;;
        width: calc(100% - #{1.5 * $treeWidth});
        margin-right: 0;
    }
    @media screen and (min-width: 1600px) {
        margin-right: -1.5 * $treeWidth;
    }
    @media screen and (max-width: 1000px) {
        width: 100%;
        margin-right: 0;
    }

    .content {
        width: 100%;
        max-width: 2.5 * $treeWidth;
    }
}
// }}}
// {{{ .box-aside
.box-aside {
    @extend .box;

    margin-top: 0;
    width: 33.3333%;
    max-width: 1.5 * $treeWidth;
    float: right;
    clear: right;
    padding-left: 0;
    padding-bottom: 0;
}
// }}}
// {{{ .box-small
.box-small {
    @extend .box;
    margin-top: calc(#{$toolbarHeight * 2} * var(--touch-scale));

    .content {
        width: 100%;
        max-width: 3 * $treeWidth;
    }

    padding-left: 0;
    padding-bottom: 0;
}
// }}}
// {{{ .box-error
.box-error {
    @extend .box;

    .content {
        width: 100%;
        max-width: 3 * $treeWidth;
    }

    padding-left: 0;
    padding-bottom: 0;
}
// }}}

// {{{ box with icons
.box-aside,
.box-small {
    @media screen and (min-width: 1000px) {
        .content {
            padding-left: calc((32px + 10px) * var(--touch-scale));
        }
        .content::before {
            display: block;
            position: absolute;
            top: calc(4px * var(--touch-scale));
            left: 0;
            content: " ";
            width: calc(32px * var(--touch-scale));
            height: calc(32px * var(--touch-scale));
            @include icon-base("none");
        }
    }
}
// }}}

// {{{ box layout-split
.layout-split .layout-left {
    .box {
        width: 100% !important;
        max-width: 100% !important;
    }
    .box-aside {
        padding-left: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .box {
        padding: 1px 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
// }}}

// {{{ centered_box
.centered_box {
    @extend .box;
    width: 100%;

    .content {
        position: relative;

        @media screen and (max-width: $breakMobile) {
            width: 100%;
            padding-top: 12px;
        }

        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: 5px;
            left: -70px;
            width: 48px;
            height: 48px;
            font-size: 1em;
            opacity: 1;
            @include icon-base();

            @media screen and (max-width: $breakMobile) {
                display: none;
            }
        }
    }
    &:hover {
        .content:before {
            opacity: 1;
        }
    }
    .scrollable-content &:first-child {
        margin-top: 100px;

        @media screen and (max-width: $breakMobile) {
            margin-top: 0;
        }

        .content {
            height: auto !important;
            height: 200px;
            min-height: 250px;
        }
    }
}
// }}}
// {{{ layouts
html {
    // base styles for layouts
    header.info,
    .toolbar menu,
    .layout {
        @include transition(200ms, "left, right, width");
    }
    .scrollable-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @extend %scrollY;

        &.top {
            padding-top: calc(#{$toolbarHeight * 1.5} * var(--touch-scale));
        }
    }
    header.info ~ .scrollable-content {
        top: $infoHeight;
    }
    .layout {
        position: absolute;
        top: 0;
        bottom: 0;

        header.info {
            //top: 0;
            right: 0;
        }
    }
    #toolbarmain ~ .layout,
    &.layout-document #toolbarmain ~ .layout-tree-bottom {
        top: calc(#{$toolbarHeight} * var(--touch-scale));

        @media screen and (max-width: $breakMobile) {
            top: calc(#{2 * $toolbarHeight } * var(--touch-scale) + 2px);
        }
    }

    // default layout (= layout-left-full)
    .layout-tree {
        left: 0;
        width: var(--tree-width);
    }
    .layout-tree-top {
        top: 0;
        bottom: 50%;
        border-bottom: 1px solid $borderColor;
    }
    .layout-tree-bottom,
    #toolbarmain ~ .layout-tree-bottom {
        top: 50%;
        bottom: 0;
    }
    .layout-left {
        left: 0;
        right: 0;
        width: 100%;
    }
    .layout-tree + .layout-left {
        left: var(--tree-width);
        width: calc(100% - var(--tree-width));
    }
    .layout-right {
        right: 0;
        left: 100%;
        width: 0;
    }
    .layout-full {
        left: 0;
        right: 0;
    }
    .layout-tree + .layout-full {
        left: var(--tree-width);
    }

    // layout right full
    &.layout-preview {
        .layout-tree {
            left: calc(-1 * var(--edit-width));
        }
        .layout-left {
            left: calc(-1 * var(--edit-width));
        }
        .layout-right {
            left: 0;
            width: 100%;
        }
        .toolbar menu.preview {
            display: block;
        }
    }
    // split layout
    &.layout-split {
        .layout-left {
            max-width: 100%;
            width: var(--edit-width);
        }
        .layout-tree + .layout-left {
            width: calc(var(--edit-width) - var(--tree-width));
        }
        .layout-right {
            left: var(--edit-width);
            right: 0;
            width: auto;
            border-left: 1px solid $borderColor;
        }
        .toolbar menu.preview {
            display: block;
        }
        .toolbar menu.left {
            width: var(--edit-width);
        }
    }
    // tree split layout
    &.layout-tree-split {
        .layout-left {
            left: 0;
            width: calc(var(--edit-width) * 0.85);
            max-width: 100%;
        }
        .layout-right {
            left: var(--tree-width);
            right: 0;
            border-left: 1px solid #000000;
        }
    }
    // layouts for media sizes
    @media screen and (max-width: $breakTablet) {
        &.layout-split {
            .toolbar menu.left {
                width: auto;
            }
            .toolbar menu.preview {
                margin-right: 0;
                margin-left: auto;
            }
            .toolbar menu.right {
                width: calc(100% - var(--edit-width));
                margin-left: 0;
            }
        }
    }
    @media screen and (max-width: $breakMobile) {
        // single view layouts
        &.layout-pages,
        &.layout-document,
        &.layout-properties,
        &.layout-full,
        &.layout-preview {
            body > .layout-tree,
            body > .layout-tree-top,
            body > .layout-tree-bottom,
            body > .layout-left,
            body > .layout-full,
            body > .layout-right {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: auto;
                border-left: none;
                border-right: none;
                z-index: 1;
                display: none;
            }
        }
        &.layout-pages {
            body > .layout-tree-top,
            body > .layout-tree-full {
                display: block;
                z-index: 2;
            }
        }
        &.layout-document {
            body > .layout-tree-bottom {
                display: block;
                z-index: 2;
            }
        }
        &.layout-properties {
            body > .layout-left,
            body > .layout-full {
                display: block;
                z-index: 2;
            }
            .toolbar menu.left .tree-actions {
                display: none;
            }
        }
        &.layout-preview {
            body > .layout-right {
                display: block;
                z-index: 2;
            }
            .toolbar menu.left .tree-actions {
                display: none;
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
