@charset "UTF-8";

.toolbar li menu,
.vakata-context,
.vakata-context ul {
    display: none;
    position: absolute;
    border: transparent;
    z-index: 6002;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: $backgroundMenu;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    @include box-shadow($shadow);
}
.vakata-context {
    z-index: 30000;
}
.toolbar,
.vakata-context {
    li {
        font-size: calc(#{$fSizeMenu} * var(--touch-scale-font));
    }
}
.toolbar li menu,
.vakata-context {
    li,
    hr {
        float: none;
        clear: both;
        white-space: nowrap;
    }
    li {
        margin: 0;
        padding: 0;
        line-height: calc(#{$menuLineHeight} * var(--touch-scale));
        color: $textBrightColor;

        > a {
            clear: left;
            float: left;
            display: block;
            width: 100%;
            max-width: 100%;
            text-decoration: none;
            white-space: nowrap;
            line-height: calc(#{$menuLineHeight} * var(--touch-scale));
            height: calc(#{$menuLineHeight} * var(--touch-scale));
            padding-top: 0;
            padding-bottom: 0;
            color: $textBrightColor;
            border: none;
            @include radius(0);

            @media (pointer:fine) {
                &:hover {
                    background: $selectionBackgroundColor;
                }
            }
            &:focus {
                outline: 0;
            }
        }
    }
}

.vakata-context {
    &,
    ul {
        @include radius(4px);
    }

    ul {
        list-style: none;
        left: 100%;
        margin-top: -2.7em;
        margin-left: -4px;
    }
    .vakata-context-right ul {
        left: auto;
        right: 100%;
        margin-left: auto;
        margin-right: -4px;
    }
    li {
        list-style: none;
        display: block;

        > a {
            padding-left: 15px;
            padding-right: 15px;

            &.vakata-context-parent {
                background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==");
                background-position: right center;
                background-repeat: no-repeat;
            }
        }
    }
    .vakata-context-separator {
        border-top: 1px solid $borderDarkColor;
        height: 1px;
        min-height: 1px;
        max-height: 1px;
        > a {
            display: none;
        }
    }
    .vakata-contextmenu-disabled > a {
        &,
        &:hover {
            color: $textLighterColor !important;
            background-color: transparent !important;
        }
    }
    li > a > i {
        text-decoration: none;
        display: inline-block;
        width: $menuLineHeight;
        height: $menuLineHeight;
        background: transparent;
        vertical-align: top;
        text-align: center;
        line-height: $menuLineHeight;
        display: none;

        &:empty {
            width: $menuLineHeight;
            line-height: $menuLineHeight;
        }
    }
    li > a .vakata-contextmenu-sep {
        display: none;
    }
    .vakata-contextmenu-shortcut {
        font-size: 0.8em;
        color: silver;
        opacity: 0.5;
        display: none;
    }
}
@media screen and (max-width: $breakMobile) {
    .right li menu,
    .toolbar li menu,
    .vakata-context {
        position: fixed;
        left: 0 !important;
        top: calc((#{$toolbarHeight} - 2px) * var(--touch-scale));
        right: 0 !important;
        max-height: 100vh;
        overflow-y: auto;
        border-radius: 0 !important;
    }
    .vakata-context {
        bottom: 0 !important;
        top: auto !important;
        padding-bottom: 40px;
        max-height: 100vh;
        overflow-y: auto;
        border-top-left-radius: 2 * $cornerRadius !important;
        border-top-right-radius: 2 * $cornerRadius !important;

        ul {
            display: block !important;
            max-height: 30vh;
            overflow-y: auto;
            position: static !important;
            background-color: $backgroundMenuMobileSub !important;
            @include box-shadow(none);
        }
        .vakata-contextmenu-disabled {
            display: none;
        }

        a {
            text-align: center;
        }
    }
}

/* vim:set ft=scss sw=4 sts=4 fdm=marker : */
