@charset "UTF-8";

.toolbar li menu,
.vakata-context {
    display: none;
    position: absolute;
    border: 1px solid $borderColor;
    z-index: 10002;
    background-color: #eeeeee !important;
    margin: 0;
    padding: 0;
    min-width: 200px;
    @include box-shadow(0 3px 0.4em 0 #aaaaaa);

    ul {
        margin: 10px 0;
    }
    li,
    hr {
        float: none;
        clear: both;
        display: block;
        white-space: nowrap;
    }
    li {
        margin: 0;
        padding: 0;

        > a {
            clear: left;
            float: left;
            display: block;
            width: 100%;
            max-width: 100%;
            text-decoration: none;
            white-space: nowrap;
            line-height: $menuLineHeight;

            &:hover {
                background-color: #ffffff !important;
            }
            &:focus {
                outline: 0;
            }
        }
    }
}

.vakata-context {
    ul {
        list-style: none;
        left: 100%;
        margin-top: -2.7em;
        margin-left: -4px;
    }
    .vakata-context-right ul {
        left: auto;
        right: 100%;
        margin-left: auto;
        margin-right: -4px;
    }
    li {
        list-style: none;

        > a {
            &.vakata-context-parent {
                background-image: url("data:image/gif;base64,R0lGODlhCwAHAIAAACgoKP///yH5BAEAAAEALAAAAAALAAcAAAIORI4JlrqN1oMSnmmZDQUAOw==");
                background-position: right center;
                background-repeat: no-repeat;
            }
        }
    }
    .vakata-context-separator > a {
        &,
        &:hover {
            background: white;
            border: 0;
            border-top: 1px solid #e2e3e3;
            height: 1px;
            min-height: 1px;
            max-height: 1px;
            padding: 0;
            margin: 0 0 0 2.4em;
            border-left: 1px solid #e0e0e0;
            text-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
            border-radius: 0;
        }
    }
    .vakata-contextmenu-disabled a {
        &,
        &:hover {
            color: silver;
            background-color: transparent;
            border: 0;
            box-shadow: 0 0 0;
        }
    }
    li > a > i {
        text-decoration: none;
        display: inline-block;
        width: $menuLineHeight;
        height: $menuLineHeight;
        background: transparent;
        vertical-align: top;
        text-align: center;
        line-height: $menuLineHeight;

        &:empty {
            width: $menuLineHeight;
            line-height: $menuLineHeight;
        }
    }
    li > a .vakata-contextmenu-sep {
        display: none;
    }
    .vakata-contextmenu-shortcut {
        font-size: 0.8em;
        color: silver;
        opacity: 0.5;
        display: none;
    }
}

/* vim:set ft=scss sw=4 sts=4 fdm=marker : */
