// {{{ publish-form
form.lastchanged_pages {
    p.select-all {
        width: 100%;

        button {
            display: block;
            border: none;
            background: none;
            font-size: 12px;
            padding: 0;
            margin: 0;
            outline: 0;
            text-decoration: underline;
        }
    }
    .input-boolean {
        width: 75%;
    }
    a.preview {
        margin-top: 3px;
        display: block;
        float: right;
    }
    p.small {
        margin-left: $checkboxSize * 1.25;
        margin-top: -10px;
        color: #555555;
        font-size: 9px;
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
