// {{{ publish-form
form.lastchanged_pages {
    legend {
        width: 100%;
    }
    p.select-all {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

        button {
            display: block;
            border: none;
            background: none;
            font-size: 12px;
            padding: 0;
            margin: 0;
            outline: 0;
            width: auto;
            text-decoration: underline;
        }
    }
    .input-boolean {
        width: 75%;
    }
    a.button {
        margin-top: 3px;
        display: block;
        float: right;
        line-height: calc(20px * var(--touch-scale));
        height: calc(26px * var(--touch-scale));
        padding: 1px 7px;
        border: 1px solid transparent;

        color: $textLighterColor;

        &:hover {
            background: $selectionBackgroundColor;
            color: $selectionTextColor;
        }

        &.edit,
        &.preview {
            position: relative;
            padding-left: calc(30px * var(--touch-scale));

            &:before {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: calc(2px * var(--touch-scale));
                width: calc(24px * var(--touch-scale));
                height: calc(30px * var(--touch-scale));
                @include icon-base();
            }
            @media screen and (max-width: $breakMobile) {
                width: calc(30px * var(--touch-scale));
                text-indent: -1000em;
                padding-left: 0;
            }
        }
        &.edit:before {
            @include icon("edit", 24px);
        }
        &.preview:before {
            @include icon("preview", 24px);
        }
    }
    p.small {
        margin-left: $checkboxSize * 1.25;
        margin-top: -10px;
        color: #555555;
        font-size: 9px;
    }
    &.cannot-publish {
        .input-boolean input {
            display: none !important;

            & ~ .depage-label {
                padding-left: 0;

                &::before {
                    display: none !important;
                }
            }
        }
        .input-boolean ~ p.small {
            margin-left: 0;
        }
        .cancel {
            margin-left: 0;

            input {
                padding-left: 0;
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
