$toolbarHeight: 36px;
$infoHeight: 18px;
$treeWidth: 255px;
$editWidth: 3 * $treeWidth;

$breakMobile: 3 * $treeWidth;
$breakTablet: 1200px;

$touchScale: 1.4;
$touchScaleTree: 1.4;
$touchScaleFont: 1.2;

$baseColor: #ccc8c4;
$backgroundColor: lighten($baseColor, 5%);
$backgroundDarkColor: transparentize(darken($baseColor, 65%), 0.12);
$backgroundLighterColor: lighten($backgroundColor, 10%);
$backgroundBrightColor: lighten($backgroundColor, 12%);
$backgroundDisabledColor: #cccccc;
$backgroundMenu: $backgroundDarkColor;
$backgroundMenuMobileSub: transparentize(#ffffff, 0.85);
$overlayColor: transparentize(#000000, 0.95);
$borderColor: darken($baseColor, 5%);
$borderLightColor: lighten($borderColor, 12%);
$borderDarkColor: darken($borderColor, 25%);
$errorColor: #882200;
$linkColor: darken(#047CBF, 7%);
$linkHoverColor: #047CBF;
$helpColor: #047CBF;
$textBaseColor: #000000;
$textLighterColor: #555555;
$textDisabledColor: #999999;
$textBrightColor: #ffffff;
$selectionBackgroundColor: #047CBF;
$selectionTextColor: #ffffff;
$insertMarkerBackground: lighten($selectionBackgroundColor, 10%);
$cornerRadius: 0.4em;

$depageFormSelectionColor: $selectionTextColor;
$depageFormSelectionBackground: $selectionBackgroundColor;
$depageFormBorderRadius: $cornerRadius;
$depageFormErrorColor: $errorColor;
$depageFormBorderColor: $backgroundLighterColor;
$depageFormBorderColorFocus: $selectionBackgroundColor;


$shadow: 0 3px 0.5em 0 #000000;
$lightShadow: 0 1px 0.3em 0 rgba(0, 0, 0, 0.5);
$darkShadow: 0 3px 1.5em 0 #000000;

$fSizeXL: 26px;
$fSizeL: 22px;
$fSizeM: 13px;
$fSizeS: 11px;
$fSizeXS: 10px;
$fSizeMenu: 12px;

$transitionTime: 150ms;
$transitionDistance: 10px;

$treeLineHeight: 32px;
$menuLineHeight: 30px;
$searchHeight: 2 * $treeLineHeight;
$iconSize: $toolbarHeight - 6px;
$helpIconSize: 32px;
$thumbSize: round($treeWidth * 0.75 - 1.5 * 16px + 1px);
$thumbSizeSmall: round($treeWidth * 0.5 - 1.5 * 16px - 0px);
$actionIconHeight: $treeLineHeight * 0.5 + 4px;
$checkboxSize: 36px;

html {
    --tree-width: #{$treeWidth};
    --edit-width: #{$editWidth};
    --touch-scale: 1;
    --touch-scale-font: 1;

    @media (pointer:coarse) {
        --touch-scale: #{$touchScale};
        --touch-scale-font: #{$touchScaleFont};
    }
    @media screen and (min-width: 1800px) {
        --edit-width: #{$editWidth + 0.5 * $treeWidth};
    }
    @media screen and (min-width: 2100px) {
        --edit-width: #{$editWidth + 1 * $treeWidth};
    }
    @media screen and (max-width: 1340px) {
        --edit-width: #{$editWidth - 0.5 * $treeWidth};
    }
    @media screen and (max-width: #{$breakMobile + 0.5 * $treeWidth}) {
        --edit-width: #{$editWidth - 1 * $treeWidth};
    }
}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
