$toolbarHeight: 30px !global;
$infoHeight: 15px !global;
$treeWidth: 255px !global;
$editWidth: 3 * $treeWidth !global;

$touchScale: 1.2 !global;

$baseColor: #ccc8c4 !global;
$backgroundColor: lighten($baseColor, 5%) !global;
$backgroundDarkColor: transparentize(darken($baseColor, 65%), 0.12) !global;
$backgroundLighterColor: lighten($backgroundColor, 10%) !global;
$backgroundBrightColor: lighten($backgroundColor, 12%) !global;
$backgroundDisabledColor: #cccccc;
$backgroundMenu: $backgroundDarkColor;
$borderColor: darken($baseColor, 5%) !global;
$borderLightColor: lighten($borderColor, 12%);
$borderDarkColor: darken($borderColor, 25%);
$linkColor: #882200;
$textBaseColor: #000000 !global;
$textLighterColor: #888888 !global;
$textDisabledColor: #888888 !global;
$textBrightColor: #ffffff !global;
$selectionBackgroundColor: #047CBF !global;
$selectionTextColor: #ffffff !global;
$insertMarkerBackground: lighten($selectionBackgroundColor, 10%) !global;
$cornerRadius: 0.4em !global;

$depageFormSelectionColor: $selectionTextColor !global;
$depageFormSelectionBackground: $selectionBackgroundColor !global;

$shadow: 0 3px 0.5em 0 #000000 !global;
$lightShadow: 0 1px 0.3em 0 rgba(0, 0, 0, 0.5) !global;
$darkShadow: 0 3px 1.5em 0 #000000 !global;

$fSizeXL: 26px !global;
$fSizeL: 22px !global;
$fSizeM: 13px !global;
$fSizeS: 11px !global;
$fSizeXS: 10px !global;
$fSizeMenu: 12px !global;

$transitionTime: 150ms !global;
$transitionDistance: 10px !global;

$treeLineHeight: 28px !global;
$menuLineHeight: 30px !global;
$iconSize: 24px !global;
$helpIconSize: 32px !global;
$thumbSize: 120px !global;
$actionIconHeight: $treeLineHeight * 0.5 + 4px !global;
$checkboxSize: 36px;


// vim:set ft=scss sw=4 sts=4 fdm=marker :
