$toolbarHeight: 30px !global;
$infoHeight: 15px !global;
$treeWidth: 255px !global;
$editWidth: 3 * $treeWidth !global;

$breakMobile: 3 * $treeWidth !global;
$breakTablet: 1200px !global;

$touchScale: 1.4 !global;
$touchScaleTree: 1.4 !global;
$touchScaleFont: 1.2 !global;

$baseColor: #ccc8c4 !global;
$backgroundColor: lighten($baseColor, 5%) !global;
$backgroundDarkColor: transparentize(darken($baseColor, 65%), 0.12) !global;
$backgroundLighterColor: lighten($backgroundColor, 10%) !global;
$backgroundBrightColor: lighten($backgroundColor, 12%) !global;
$backgroundDisabledColor: #cccccc !global;
$backgroundMenu: $backgroundDarkColor !global;
$borderColor: darken($baseColor, 5%) !global;
$borderLightColor: lighten($borderColor, 12%) !global;
$borderDarkColor: darken($borderColor, 25%) !global;
$errorColor: #882200;
$linkColor: darken(#047CBF, 7%) !global;
$linkHoverColor: #047CBF !global;
$helpColor: #047CBF;
$textBaseColor: #000000 !global;
$textLighterColor: #555555 !global;
$textDisabledColor: #999999 !global;
$textBrightColor: #ffffff !global;
$selectionBackgroundColor: #047CBF !global;
$selectionTextColor: #ffffff !global;
$insertMarkerBackground: lighten($selectionBackgroundColor, 10%) !global;
$cornerRadius: 0.4em !global;

$depageFormSelectionColor: $selectionTextColor !global;
$depageFormSelectionBackground: $selectionBackgroundColor !global;
$depageFormBorderRadius: $cornerRadius !global;
$depageFormErrorColor: $errorColor !global;
$depageFormBorderColor: $backgroundLighterColor !global;
$depageFormBorderColorFocus: $selectionBackgroundColor !global;


$shadow: 0 3px 0.5em 0 #000000 !global;
$lightShadow: 0 1px 0.3em 0 rgba(0, 0, 0, 0.5) !global;
$darkShadow: 0 3px 1.5em 0 #000000 !global;

$fSizeXL: 26px !global;
$fSizeL: 22px !global;
$fSizeM: 13px !global;
$fSizeS: 11px !global;
$fSizeXS: 10px !global;
$fSizeMenu: 12px !global;

$transitionTime: 150ms !global;
$transitionDistance: 10px !global;

$treeLineHeight: 28px !global;
$menuLineHeight: 30px !global;
$searchHeight: 2 * $treeLineHeight !global;
$iconSize: 24px !global;
$helpIconSize: 32px !global;
$thumbSize: round($treeWidth * 0.75 - 1.5 * 16px + 1px) !global;
$thumbSizeSmall: round($treeWidth * 0.5 - 1.5 * 16px - 0px) !global;
$actionIconHeight: $treeLineHeight * 0.5 + 4px !global;
$checkboxSize: 36px;

html {
    --tree-width: #{$treeWidth};
    --edit-width: #{$editWidth};
    --touch-scale: 1;

    @media (pointer:coarse) {
        --touch-scale: #{$touchScale};
    }
    @media screen and (min-width: 1800px) {
        --edit-width: #{$editWidth + 0.5 * $treeWidth};
    }
    @media screen and (min-width: 2100px) {
        --edit-width: #{$editWidth + 1 * $treeWidth};
    }
    @media screen and (max-width: 1340px) {
        --edit-width: #{$editWidth - 0.5 * $treeWidth};
    }
    @media screen and (max-width: #{$breakMobile + 0.5 * $treeWidth}) {
        --edit-width: #{$editWidth - 1 * $treeWidth};
    }
}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
