/* {{{ tabs */
.tabs {
    $height: 32px;

    position: relative;
    @include clearfix();
    width: 100%;
    margin-top: $infoHeight;
    margin-bottom: $infoHeight;
    padding: 0;
    padding-left: $infoHeight;
    height: $height;
    max-height: $height;
    flex: 0 0 auto;

    .tab {
        padding: 0;
        display: inline-block;
        list-style: none;
        height: $height;
        @include radius($cornerRadius);

        &:first-child a {
            font-weight: bold;
        }
        &.active a {
            font-weight: bold !important;
        }
        a {
            display: inline-block;
            height: $height;
            line-height: $height;
            padding: 0 12px;
        }
    }
    & ~ hr {
        border: none;
        border-top: 1px solid $borderLightColor;
    }
    .content > & {
        margin-left: -12px;
        padding-left: 0;
    }
    .dialog-full & {
        top: $infoHeight;
        //padding-top: $infoHeight;
        padding-left: 0;
        margin-top: 0;
        height: $height + $infoHeight;
        max-height: $height + $infoHeight;

        .tab:first-child a {
            font-weight: normal;
        }

        & + * {
            margin-top: $height;
        }
    }
}
/* }}} */

// vim:set ft=scss sw=4 sts=4 fdm=marker :
