// {{{ progress
progress {
    display: block;
    @include progress(#ffffff, $selectionBackgroundColor) {
        @include radius(2em);
        width: 100%;
        margin: 6px 0;
        border: none;
        height: 4px;
    };
}
// }}}
// {{{ .task-progress
.task-progress {
    > .task-overview {
        strong,
        em {
            display: none;
        }
    }
    strong {
        font-weight: normal;
        color: $selectionBackgroundColor;
    }
    div {
        position: relative;
    }
    a.button {
        position: absolute;
        top: 0;
        right: 0;
        height: 24px;
        width: 24px !important;
        overflow: hidden;
        padding: 0 0 0 24px !important;

        @include icon-base("cancel", 24px);

        &:hover {
            border: none;
            background-color: $backgroundLighterColor;
        }
    }
}
// }}}
// {{{ #toolbarmain .task-progress
#toolbarmain .task-progress {
    position: absolute;
    right: 0;
    left: 0;
    top: 100vh;
    max-width: 100%;
    padding: 0;
    margin-top: -13px;
    padding-top: 10px;
    display: none;

    @media (pointer:coarse) {
        top: $toolbarHeight * $touchScale;
    }

    > .task-overview {
        padding: 0;

        strong {
            display: block;
            position: absolute;
            left: 0;
            top: -20px;
            padding-left: 10px;
            height: 20px;
        }

        progress {
            @include progress(transparent, $selectionBackgroundColor) {
                @include radius(0);
                width: 100%;
                height: 3px;
                margin: 0;
                border: none;
            };
        }
    }
    > .task-list {
        display: none;
        color: $textBrightColor;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $backgroundDarkColor;
        padding-bottom: 15px;
        @include radius($cornerRadius, "top", "left");
        @include radius($cornerRadius, "top", "right");
        @include box-shadow($shadow);

        div {
            padding: 15px;
        }
    }

    &:hover {

        > .task-overview {
            progress {
                @include progress($borderColor, $textBrightColor) {
                    @include radius($cornerRadius);
                    width: 100%;
                    height: 4px;
                    margin: 0;
                    border: none;
                };
            }
        }
        > .task-list {
            display: block;
        }
    }
}
// }}}
// {{{ .box-tasks .task-progress
.box-tasks {
    .task-progress {
        div {
            margin-top: 15px;
        }
        strong {
            font-size: 20px;
        }
        > .task-overview {
            display: none;
        }
        a.button {
            top: 25x;
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
