// {{{ .depage-tooltip
.depage-tooltip {
    @include depage-shy-dialogue (
        $width: 20em,
        $padding: 10px,
        $background: $backgroundDarkColor,
        $corner-radius: 10px,
        $direction-size: 20px
    );

    z-index: 1000 !important;

    .wrapper {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        @include box-shadow($shadow);
    }

    h1,
    p,
    a {
        color: $textBrightColor;
        font-size: 1em;
    }
}
.depage-tooltip .wrapper {
    max-width: 250px;
    width: auto;
    width: intrinsic;           // Safari/WebKit
    width: -moz-max-content;    // Firefox/Gecko
    width: -webkit-max-content; // Chrome
    @include box-shadow($lightShadow);
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
