// {{{ toolbars
#toolbarmain {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border-bottom: 1px solid $borderColor;
    width: 100%;
    z-index: 6000;

    menu.left a.home {
        // @todo icon
        color: #000000;
        font-weight: bold;
    }
}
.toolbar {
    height: calc(#{$toolbarHeight} * var(--touch-scale));
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    width: 100%;

    .preview-buttons {
        display: inline;
        list-style: none !important;
    }
    .tree-actions span {
        display: none;

        &.visible {
            display: block;
        }
    }

    menu {
        padding: 1px 8px;
        display: block;
        height: 100%;
        text-align: left;

        ul {
            padding: 5px 0;
        }
        li {
            list-style: none;
            font-size: $fSizeMenu;
        }

        &.right,
        &.preview,
        &.left {
            //margin: auto;
        }
        &.left {
        }
        &.preview {
            margin-right: auto;
            width: calc(175px * var(--touch-scale));

            @media screen and (max-width: $breakMobile) {
                width: calc(#{$toolbarHeight - 6px} * var(--touch-scale));
                overflow: hidden;

                a {
                    display: none;
                }
                a.icon-reload {
                    display: inline-block;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        &.right {
            text-align: right;
            margin-left: auto;

            li menu {
                right: 0;
                left: auto;
            }
        }
        &.preview {
            display: none;
        }
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: calc(#{$toolbarHeight - 10px} * var(--touch-scale));
            height: calc(#{$toolbarHeight - 3px} * var(--touch-scale));

            &.disabled {
                &,
                &:hover {
                    background: transparent !important;
                }
                &:before {
                    opacity: 0.5;
                }
            }

            &.home:hover {
                background: transparent;
                border: 1px solid transparent;
            }

            &.icon-depagecms,
            &.icon-create,
            &.icon-duplicate,
            &.icon-delete,
            &.icon-user,
            &.icon-help,
            &.icon-projects,
            &.icon-reload,
            &.icon-settings {
                &:before {
                    content: " ";
                    display: inline-block;
                    width: calc(#{$toolbarHeight - 6px} * var(--touch-scale));
                    height: calc(#{$toolbarHeight - 6px} * var(--touch-scale));
                    @include icon-base();
                    vertical-align: top;
                    margin-top: -2px;
                    margin-left: -5px;
                    margin-right: 2px;
                }
            }
            &.icon-only {
                width: 32px;

                &:before {
                    margin-right: 20px;
                }
            }
            &.icon-depagecms,
            &.icon-create,
            &.icon-duplicate,
            &.icon-delete {
                @media screen and (max-width: 800px) {
                    width: 32px;

                    &:before {
                        margin-right: 20px;
                    }
                }
            }
            &.icon-user,
            &.icon-projects {
                @media screen and (max-width: 1200px) {
                    width: 30px;

                    &:before {
                        margin-right: 20px;
                    }
                }
            }
            &.icon-depagecms:before {
                @include icon("depagecms", 24px);
            }
            &.icon-create:before {
                @include icon("create", 24px);
            }
            &.icon-duplicate:before {
                @include icon("duplicate", 24px);
            }
            &.icon-delete:before {
                @include icon("delete", 24px);
            }
            &.icon-reload:before {
                @include icon("reload", 24px);
            }
            &.icon-user:before {
                @include icon("user", 24px);
            }
            &.icon-projects:before {
                @include icon("projects", 24px);
            }
            &.icon-settings:before {
                @include icon("settings", 22px);
            }
            &.icon-help {
                width: 34px;

                &:hover {
                    background: none;
                }
            }
            &.icon-help:before {
                @include icon("help", 24px);
                margin-right: 20px;
            }
            &.icon-help.active:before,
            &.icon-help:hover:before {
                @include icon("help-active", 24px);
            }
            &.menu-project {
                @media screen and (max-width: $breakMobile) {
                    width: calc(#{$toolbarHeight} * var(--touch-scale));
                }
                img.thumb {
                    position: static;
                    display: inline-block;
                    vertical-align: middle;
                    width: calc(18px * var(--touch-scale));
                    height: calc(18px * var(--touch-scale));
                }
            }
        }
        > li > a {
            max-width: 10em;
        }
    }
    li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;

        menu {
            top: calc(#{$toolbarHeight - 3px} * var(--touch-scale));
            left: 0;
            border-top: none;
            height: auto;

            li {
                width: 100%;
            }

            a {
                .thumb {
                    position: absolute;
                    display: block;
                    top: 6px;
                    left: 6px;
                    width: 18px;
                    height: 18px;
                    margin-right: 2px;
                    margin-bottom: -4px;
                }
            }
            a.right {
                position: absolute;
                right: 0;
                top: 0;
                width: 32px;

                &:before {
                    margin-top: 4px;
                    margin-left: -2px;
                    margin-right: 4px;
                }
            }
            .depage-live-filter {
                text-align: right;
                padding-right: 0.2em;

                input {
                    border: none;
                    font-size: 1em;
                    padding: 0.2em 0.4em;
                }
            }
            .project-shortcuts {
                margin-bottom: 20px;

                li:first-child {
                    padding-left: 5px;
                    margin-bottom: 10px;
                }
                .thumb {
                    position: static;
                    display: inline-block;
                    vertical-align: middle;
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                }
            }
            .project-shortcuts + .projects {
                position: relative;
                padding-top: 20px + 10px;
            }
            .project .button {
                position: relative;
                padding-left: 30px;
            }
        }
    }
    a.open,
    menu li.open > a {
        &,
        &:hover {
            color: $textBrightColor;
            @include radius(0, "bottom", "left");
            @include radius(0, "bottom", "right");
            border-color: transparent !important;
            background: $backgroundMenu;
        }
    }
    menu li.open {
        menu {
            display: block;
            margin-top: -1px;
            @include box-shadow($shadow);
            @include radius(4px);
        }
    }
    menu.left li.open menu,
    menu.preview li.open menu {
        @include radius(0, "top", "left");
    }
    menu.right li.open menu {
        @include radius(0, "top", "right");
    }
    a,
    span.zoom-select {
        display: block;
        float: left;
        line-height: $menuLineHeight;
        height: $menuLineHeight;
        padding: 2px 8px;
    }
    a {
        span {
            position: relative;
            padding-right: 20px;
        }
        img {
            position: absolute;
            top: -3px;
        }
    }
    a.disabled,
    a.disabled:hover {
      background-color: #fff;
      color: #aaa;
      cursor: default;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand {
            display: none;
        }
        padding: 2px;
        padding-right: 5px;
        margin-right: 3em;
        background-color: #ffffff;
        border: none;

        option {
            padding: 2px;
        }

        &:hover {
            background-color: $backgroundMenu;
        }
    }
    .pills {
        margin-left: 1em;
        margin-right: 1em;

        a.button,
        a.toggle-button {
            width: 28px;
            border-radius: 3px;
            border: 1px solid transparent;

            &:hover {
                background-color: $selectionBackgroundColor;
            }
        }
        a.toggle-button.active {
            color: #4E4C4B;
            background-color: $selectionBackgroundColor;
        }
    }
    .layout-buttons a {
        position: relative;
        text-indent: -1000em;
        width: calc(24px * var(--touch-scale));

        &:before {
            @include icon-base();
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: calc(24px * var(--touch-scale));
            height: calc(24px * var(--touch-scale));
        }
        &.to-layout-left-full:before {
            @include icon("layout-left-full", $iconSize);
        }
        &.to-layout-split:before {
            @include icon("layout-split", $iconSize);
        }
        &.to-layout-tree-split:before {
            @include icon("layout-tree-split", $iconSize);
        }
        &.to-layout-pages:before {
            @include icon("layout-pages", $iconSize);
        }
        &.to-layout-document:before {
            @include icon("layout-document", $iconSize);
        }
        &.to-layout-properties:before {
            @include icon("layout-properties", $iconSize);
        }
        &.to-layout-right-full:before {
            @include icon("layout-right-full", $iconSize);
        }
        &.active,
        &:hover {
            &.to-layout-left-full:before {
                @include icon("layout-left-full-active", $iconSize);
            }
            &.to-layout-split:before {
                @include icon("layout-split-active", $iconSize);
            }
            &.to-layout-tree-split:before {
                @include icon("layout-tree-split-active", $iconSize);
            }
            &.to-layout-pages:before {
                @include icon("layout-pages-active", $iconSize);
            }
            &.to-layout-document:before {
                @include icon("layout-document-active", $iconSize);
            }
            &.to-layout-properties:before {
                @include icon("layout-properties-active", $iconSize);
            }
            &.to-layout-right-full:before {
                @include icon("layout-right-full-active", $iconSize);
            }
        }
    }
    @media screen and (min-width: $breakMobile) {
        .to-layout-pages,
        .to-layout-document,
        .to-layout-properties {
            display: none;
        }
    }
    @media screen and (max-width: $breakMobile) {
        .to-layout-left-full,
        .to-layout-split {
            display: none;
        }
        .layout-buttons {
            position: fixed;
            left: 0;
            right: 0;
            top: calc(#{$toolbarHeight + 1px} * var(--touch-scale));
            margin: 0;
            background-color: #ffffff;
            border-bottom: 1px solid $borderColor;

            a.toggle-button {
                width: 25%;
                max-width: none;
                height: calc(#{$toolbarHeight} * var(--touch-scale));
                margin: 0;
                border-radius: 0;
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
