// {{{ toolbars
#toolbarmain {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border-bottom: 1px solid $borderColor;
    width: 100%;
    z-index: 6000;

    menu.left a.home {
        // @todo icon
        color: #000000;
        font-weight: bold;
    }
}
.toolbar {
    height: $toolbarHeight;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    width: 100%;

    @media (pointer:coarse) {
        height: $toolbarHeight * $touchScale;
    }

    .preview-buttons {
        display: inline;
        list-style: none !important;
    }
    .tree-actions span {
        display: none;

        &.visible {
            display: block;
        }
    }

    menu {
        padding: 1px 8px;
        display: block;
        height: 100%;
        text-align: left;

        ul {
            padding: 5px 0;
        }
        li {
            list-style: none;
            font-size: $fSizeMenu;
        }

        &.right,
        &.preview,
        &.left {
            //margin: auto;
        }
        &.left {
        }
        &.preview {
            margin-right: auto;
            width: $treeWidth * 0.7;
        }
        &.right {
            li menu {
                right: 0;
                left: auto;
            }
        }
        &.preview {
            display: none;
        }
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: $toolbarHeight - 10px;
            height: $toolbarHeight - 3px;

            @media (pointer:coarse) {
                line-height: $toolbarHeight * $touchScale - 10px;
                height: $toolbarHeight * $touchScale - 3px;
            }

            &.disabled {
                &,
                &:hover {
                    background: transparent !important;
                }
                &:before {
                    opacity: 0.5;
                }
            }

            &.home:hover {
                background: transparent;
                border: 1px solid transparent;
            }

            &.icon-depagecms,
            &.icon-create,
            &.icon-duplicate,
            &.icon-delete,
            &.icon-user,
            &.icon-help,
            &.icon-projects,
            &.icon-reload,
            &.icon-settings {
                &:before {
                    content: " ";
                    display: inline-block;
                    width: $toolbarHeight - 6px;
                    height: $toolbarHeight - 6px;
                    @include icon-base();
                    vertical-align: top;
                    margin-top: -2px;
                    margin-left: -5px;
                    margin-right: 2px;

                    @media (pointer:coarse) {
                        width: $toolbarHeight * $touchScale - 6px;
                        height: $toolbarHeight * $touchScale - 6px;
                    }
                }
            }
            &.icon-only {
                width: 32px;

                &:before {
                    margin-right: 20px;
                }

                @media (pointer:coarse) {
                    width: 32px * $touchScale;

                    &:before {
                        margin-right: 20px * $touchScale;
                    }
                }
            }
            &.icon-depagecms,
            &.icon-create,
            &.icon-duplicate,
            &.icon-delete {
                @media screen and (max-width: 800px) {
                    width: 32px;

                    &:before {
                        margin-right: 20px;
                    }

                    @media (pointer:coarse) {
                        width: 32px * $touchScale;

                        &:before {
                            margin-right: 20px * $touchScale;
                        }
                    }
                }
            }
            &.icon-user,
            &.icon-projects {
                @media screen and (max-width: 1200px) {
                    width: 30px;

                    &:before {
                        margin-right: 20px;
                    }

                    @media (pointer:coarse) {
                        width: 32px * $touchScale;

                        &:before {
                            margin-right: 20px * $touchScale;
                        }
                    }
                }
            }
            &.icon-depagecms:before {
                @include icon("depagecms", 24px);
            }
            &.icon-create:before {
                @include icon("create", 24px);
            }
            &.icon-duplicate:before {
                @include icon("duplicate", 24px);
            }
            &.icon-delete:before {
                @include icon("delete", 24px);
            }
            &.icon-reload:before {
                @include icon("reload", 24px);
            }
            &.icon-user:before {
                @include icon("user", 24px);
            }
            &.icon-projects:before {
                @include icon("projects", 24px);
            }
            &.icon-settings:before {
                @include icon("settings", 22px);
            }
            &.icon-help {
                width: 34px;

                &:hover {
                    background: none;
                }
            }
            &.icon-help:before {
                @include icon("help", 24px);
                margin-right: 20px;
            }
            &.icon-help.active:before,
            &.icon-help:hover:before {
                @include icon("help-active", 24px);
            }
            &.menu-project {
                img.thumb {
                    position: static;
                    display: inline-block;
                    vertical-align: middle;
                    width: 18px;
                    height: 18px;
                }
            }
        }
        > li > a {
            max-width: 10em;
        }
    }
    li {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;

        menu {
            top: $toolbarHeight - 3px;
            left: 0;
            border-top: none;
            height: auto;

            @media (pointer:coarse) {
                top: $toolbarHeight * $touchScale;
            }

            li {
                width: 100%;
            }

            a {
                .thumb {
                    position: absolute;
                    display: block;
                    top: 6px;
                    left: 6px;
                    width: 18px;
                    height: 18px;
                    margin-right: 2px;
                    margin-bottom: -4px;
                }
            }
            a.right {
                position: absolute;
                right: 0;
                top: 0;
                width: 32px;

                &:before {
                    margin-top: 4px;
                    margin-left: -2px;
                    margin-right: 4px;
                }
            }
            .depage-live-filter {
                text-align: right;
                padding-right: 0.2em;

                input {
                    border: none;
                    font-size: 1em;
                    padding: 0.2em 0.4em;
                }
            }
            .project-shortcuts {
                margin-bottom: 20px;

                li:first-child {
                    padding-left: 5px;
                    margin-bottom: 10px;
                }
                .thumb {
                    position: static;
                    display: inline-block;
                    vertical-align: middle;
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                }
            }
            .project-shortcuts + .projects {
                position: relative;
                padding-top: 20px + 10px;
            }
            .project .button {
                position: relative;
                padding-left: 30px;
            }
        }
    }
    a.open,
    menu li.open > a {
        &,
        &:hover {
            color: $textBrightColor;
            @include radius(0, "bottom", "left");
            @include radius(0, "bottom", "right");
            border-color: transparent !important;
            background: $backgroundMenu;
        }
    }
    menu li.open {
        menu {
            display: block;
            margin-top: -1px;
            @include box-shadow($shadow);
            @include radius(4px);
        }
    }
    menu.left li.open menu,
    menu.preview li.open menu {
        @include radius(0, "top", "left");
    }
    menu.right li.open menu {
        @include radius(0, "top", "right");
    }
    a,
    span.zoom-select {
        display: block;
        float: left;
        line-height: $menuLineHeight;
        height: $menuLineHeight;
        padding: 2px 8px;
    }
    a {
        span {
            position: relative;
            padding-right: 20px;
        }
        img {
            position: absolute;
            top: -3px;
        }
    }
    a.disabled,
    a.disabled:hover {
      background-color: #fff;
      color: #aaa;
      cursor: default;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand {
            display: none;
        }
        padding: 2px;
        padding-right: 5px;
        margin-right: 3em;
        background-color: #ffffff;
        border: none;

        option {
            padding: 2px;
        }

        &:hover {
            background-color: $backgroundMenu;
        }
    }
    .pills {
        a.button,
        a.toggle-button {
            width: 28px;
            border-right: 1px solid #dddddd;
            @include radius(0);

            &:first-child {
                margin-left: 1em;
                @include radius(3px, "top", "left");
                @include radius(3px, "bottom", "left");
            }
            &:last-child {
                margin-right: 1em;
                @include radius(3px, "top", "right");
                @include radius(3px, "bottom", "right");
                border-right: none;
            }
            &:hover {
                background-color: $backgroundLighterColor;
            }
        }
        a.toggle-button.active {
            color: #4E4C4B;
        }
    }
    .layout-buttons a {
        @include icon-base();
        text-indent: -1000em;
        width: 24px;

        &.left-full {
            @include icon("left-full", $iconSize);
        }
        &.split {
            @include icon("split", $iconSize);
        }
        &.tree-split {
            @include icon("tree-split", $iconSize);
        }
        &.right-full {
            @include icon("right-full", $iconSize);
        }
        &.active,
        &:hover {
            &.left-full {
                @include icon("left-full-active", $iconSize);
            }
            &.split {
                @include icon("split-active", $iconSize);
            }
            &.tree-split {
                @include icon("tree-split-active", $iconSize);
            }
            &.right-full {
                @include icon("right-full-active", $iconSize);
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
