@charset "UTF-8";

$treeLineHeight: 25px;
$iconSize: 25px;

// {{{ .jstree
.jstree-node,
.jstree-children,
.jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.jstree-node {
    position: relative;
    white-space: nowrap;
}
.jstree-anchor {
    color: black;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border: 1px solid transparent;

    &:focus {
        outline: 0;
    }
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: inherit;
        margin-left: 2 * $iconSize;
        padding-left: 6px;
    }
    > span.hint {
        margin-left: 10px;
        color: #999999;

        > span.mini-thumb {
            position: absolute;
            top: 0;
            left: $iconSize;
            width: $iconSize;
            height: $iconSize;
            display: block;
            background-size: 100% 100%;
        }
    }
}
.jstree-anchor,
.jstree-icon {
    &,
    &:empty {
        display: block;
        text-decoration: none;
        margin: 0;
        padding: 0;
        vertical-align: top;
        text-align: left;
    }
}
.jstree-icon {
    position: absolute;
    left: 0;
    top: 0;
}
.jstree-anchor > .jstree-icon {
    left: 1 * $iconSize;
}
.jstree-ocl {
    cursor: pointer;
}
.jstree-leaf > .jstree-ocl {
    cursor: default;
}
.jstree-open > .jstree-children {
    display: block;
}
.jstree-closed > .jstree-children,
.jstree-leaf > .jstree-children {
    display: none;
}
.jstree-anchor > .jstree-themeicon {
    margin-right: 2px;
}
.jstree-no-icons .jstree-themeicon,
.jstree-anchor > .jstree-themeicon-hidden {
    display: none;
}
.jstree-hidden,
.jstree-node.jstree-hidden {
    display: none;
}
.jstree-contextmenu .jstree-anchor {
    -webkit-user-select: none;
    /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none;
    /* disable the IOS popup when long-press on a link */
}
// }}}
// {{{ #jstree-marker
#jstree-marker {
    position: absolute;
    top: 0;
    left: 0;
    margin: -5px 0 0 0;
    padding: 0;
    border-right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
// }}}
// {{{ #jstree-dnd
#jstree-dnd {
    line-height: 16px;
    margin: 0;
    padding: 4px;

    .jstree-icon,
    .jstree-copy {
        display: inline-block;
        text-decoration: none;
        margin: 0 2px 0 0;
        padding: 0;
        width: 16px;
        height: 16px;
    }
    .jstree-ok {
        background: green;
    }
    .jstree-er {
        background: red;
    }
    .jstree-copy {
        margin: 0 2px 0 2px;
    }
}
// }}}
// {{{ jstree background/icons
.jstree-node,
.jstree-icon {
    background-repeat: no-repeat;
    background-color: transparent;
}
.jstree-anchor,
.jstree-animated {
    transition: background-color 0.15s, box-shadow 0.15s;
}
.jstree-hovered {
    background: $backgroundColor;
}
.jstree-context {
    background: $backgroundColor;
}
.jstree-clicked {
    border: 1px solid $selectionBackgroundColor;
    background: $selectionBackgroundColor;
}
.jstree-clicked.jstree-hovered {
    background: $selectionBackgroundColor;
}
.jstree-no-icons .jstree-anchor > .jstree-themeicon {
    display: none;
}
.jstree-disabled {
    background: transparent;
    color: #666666;
}
.jstree-disabled.jstree-hovered {
    background: transparent;
    box-shadow: none;
}
.jstree-disabled.jstree-clicked {
    background: #efefef;
}
.jstree-disabled > .jstree-icon {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}
// }}}
// {{{ jstree elements
.jstree-search {
    font-style: italic;
    color: #8b0000;
    font-weight: bold;
}
.jstree-no-checkboxes .jstree-checkbox {
    display: none !important;
}
.jstree-node {
    min-height: $treeLineHeight;
    line-height: $treeLineHeight - 2px;
    margin-left: $iconSize;
    min-width: $treeLineHeight;
}
.jstree-anchor {
    line-height: $treeLineHeight - 2px;
    height: $treeLineHeight;;
}
.jstree-icon {
    width: $iconSize;
    height: $treeLineHeight;;
    line-height: $treeLineHeight;
}
.jstree-ocl {
    width: $iconSize;
}
.jstree-node,
.jstree-icon,
.jstree-ocl {
    @include icon-base("", $iconSize);
}
.jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
}
.jstree-last {
    background: transparent;
}
.jstree-open > .jstree-ocl {
    @include icon("open", $iconSize);
}
.jstree-closed > .jstree-ocl {
    @include icon("closed", $iconSize);
}
.jstree-leaf > .jstree-ocl {
    background-position: -68px -4px;
}
.jstree-themeicon {
    background-position: -260px -4px;
}
.jstree-no-dots .jstree-node,
.jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}
.jstree-no-dots .jstree-open > .jstree-ocl {
    background-position: -36px -4px;
}
.jstree-no-dots .jstree-closed > .jstree-ocl {
    background-position: -4px -4px;
}
.jstree-disabled {
    background: transparent;
}
.jstree-disabled.jstree-hovered {
    background: transparent;
}
.jstree-disabled.jstree-clicked {
    background: #efefef;
}
.jstree-checkbox {
    background-position: -164px -4px;
}
.jstree-checkbox:hover {
    background-position: -164px -36px;
}
.jstree-clicked > .jstree-checkbox,
.jstree-checked > .jstree-checkbox {
    background-position: -228px -4px;
}
.jstree-clicked > .jstree-checkbox:hover,
.jstree-checked > .jstree-checkbox:hover {
    background-position: -228px -36px;
}
.jstree-anchor > .jstree-undetermined {
    background-position: -196px -4px;
}
.jstree-anchor > .jstree-undetermined:hover {
    background-position: -196px -36px;
}
.jstree-checkbox-disabled {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}
.jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}
.jstree-container-ul .jstree-loading > .jstree-ocl {
    background: url("throbber.gif") center center no-repeat;
}
.jstree-container-ul > .jstree-node {
    margin-left: 0;
    margin-right: 0;
}
#jstree-dnd {
    line-height: $treeLineHeight - 2px;
    padding: 0 4px;
}
#jstree-dnd .jstree-ok,
#jstree-dnd .jstree-er {
    background-repeat: no-repeat;
    background-color: transparent;
}
#jstree-dnd i {
    background: transparent;
    width: $treeLineHeight;;
    height: $treeLineHeight;;
    line-height: $treeLineHeight;
}
#jstree-dnd .jstree-ok {
    background-position: -4px -68px;
}
#jstree-dnd .jstree-er {
    background-position: -36px -68px;
}
.jstree-ellipsis {
    overflow: hidden;
}
.jstree-ellipsis .jstree-anchor {
    width: calc(100% - 29px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.jstree-ellipsis.jstree-no-icons .jstree-anchor {
    width: calc(100% - 5px);
}
// }}}
// {{{ icons
.icon-pg-page > .jstree-icon {
    @include icon-base("page", $iconSize);
}
.icon-pg-folder > .jstree-icon {
    @include icon-base("folder", $iconSize);
}
.icon-pg-meta {
    font-weight: bold;

    span {
        font-weight: normal;
    }
}
// }}}

// {{{ trees layout
.trees {
    position: absolute;
    background: #ffffff;
    width: $treeWidth;
    overflow: hidden;
    border-right: 1px solid $borderColor;

    .tree {
        position: absolute;
        background: $backgroundLighterColor;
        margin-top: $infoHeight;

        .jstree-container {
            position: absolute;
            overflow-y: auto;
            overflow-x: hidden;
            top: 0;
            bottom: $toolbarHeight;
            left: 0;
            right: 0;
            background: $textBrightColor;
        }
        .toolbar {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .tree.pages {
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
        border-bottom: 1px solid $borderColor;
    }
    .tree.pagedata {
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.trees-hidden .trees {
    display: none;
}
.layout-left .trees {
    top: 0;
    left: 0;
    bottom: 0;
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
