@charset "UTF-8";

// {{{ .jstree
.jstree-node,
.jstree-children,
.jstree-container-ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
.jstree-node {
    position: relative;
    white-space: nowrap;
}
.jstree-anchor,
.jstree-icon {
    &,
    &:empty {
        display: block;
        text-decoration: none;
        margin: 0;
        padding: 0;
        vertical-align: top;
        text-align: left;
    }
}
.jstree-anchor {
    color: black;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    vertical-align: top;
    border: none;
    position: relative;

    &:focus {
        outline: 0;
    }
    &,
    &:link,
    &:visited,
    &:hover,
    &:empty,
    &:active {
        text-decoration: none;
        color: inherit;
        margin-left: 2 * $iconSize;
        padding-left: 6px;
    }
    > span.hint {
        margin-left: 10px;
        color: #999999;

        > span.mini-thumb {
            position: absolute;
            top: ($treeLineHeight - $iconSize) / 2;
            left: -1 * $iconSize - 1px;
            width: $iconSize;
            height: $iconSize;
            display: block;
            background-color: #ffffff;
            background-size: 100% 100%;
        }
    }
}
.jstree-icon {
    position: absolute;
    left: 1px;
    top: 1px;
}
.page-hidden > .jstree-icon {
    opacity: 0.5;
}
.jstree-anchor > .jstree-icon {
    top: 0;
    left: -1 * $iconSize - 1px;
}
.jstree-ocl {
    cursor: pointer;
}
.jstree-leaf > .jstree-ocl {
    cursor: default;
}
.jstree-open > .jstree-children {
    display: block;
}
.jstree-closed > .jstree-children,
.jstree-leaf > .jstree-children {
    display: none;
}
.jstree-anchor > .jstree-themeicon {
    margin-right: 2px;
}
.jstree-no-icons .jstree-themeicon,
.jstree-anchor > .jstree-themeicon-hidden {
    display: none;
}
.jstree-hidden,
.jstree-node.jstree-hidden {
    display: none;
}
.jstree-contextmenu .jstree-anchor {
    -webkit-user-select: none;
    /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none;
    /* disable the IOS popup when long-press on a link */
}
// }}}
// {{{ #jstree-marker
//.jstree-node > .jstree-anchor::before,
#jstree-marker {
    position: absolute;
    padding: 0;
    margin-left: 7px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-top: 1px solid $insertMarkerBackground;
    border-bottom: 1px solid $insertMarkerBackground;
    z-index: 12000 !important;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        border-right: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $insertMarkerBackground;
    }
}
// }}}
// {{{ jstree node-actions
.jstree-node {
    > .jstree-anchor::after {
        content: " ";
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background: $insertMarkerBackground;
        z-index: 99;
    }
    > .jstree-node-actions {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        width: 1.5 * $treeLineHeight;
        height: $treeLineHeight;
        cursor: pointer;
        z-index: 100;

        &::after {
            position: absolute;
            font-weight: bold !important;
            right: $treeLineHeight * 0.5;
            width: $actionIconHeight;
            height: $actionIconHeight;
            line-height: $actionIconHeight - 3px;
            @include radius($actionIconHeight * 0.5);
            color: $selectionTextColor;
            text-align: center;
            @include icon-base("add-white", $actionIconHeight);
            background-color: $insertMarkerBackground;
        }
    }
    &.insert-into,
    &.insert-before,
    &.insert-after {
        & > .jstree-anchor {
            background: transparent;
            color: #000000 !important;
        }
    }
    &.insert-into  {
        > .jstree-node-actions::after {
            content: " ";
            width: $actionIconHeight * 1.2;
            padding-right: $actionIconHeight * 0.5;
            right: 0;
            @include radius(0, "top", "right");
            @include radius(0, "bottom", "right");
            top: 0 + ($treeLineHeight - $actionIconHeight) * 0.5;
        }
    }
    &.insert-before {
        > .jstree-anchor::before {
            top: 0px;
            content: " ";
        }
        > .jstree-anchor::after {
            top: -1px;
            display: block;
        }
        > .jstree-node-actions::after {
            content: " ";
            top: - 0.5 * $treeLineHeight + ($treeLineHeight - $actionIconHeight) * 0.5;
        }
    }
    &.insert-after {
        > .jstree-anchor::before {
            bottom: -5px;
            content: " ";
        }
        > .jstree-anchor::after {
            bottom: -1px;
            display: block;
        }
        > .jstree-node-actions::after {
            content: " ";
            top: 0.5 * $treeLineHeight + ($treeLineHeight - $actionIconHeight) * 0.5;
        }
    }
    &.jstree-open + li,
    &:first-child{
        &.insert-before > .jstree-node-actions::after {
            top: 0;
            @include radius(0, "top", "left");
            @include radius(0, "top", "right");
        }
    }
    &.jstree-open,
    &:last-child {
        &.insert-after > .jstree-node-actions::after {
            top: auto;
            bottom: 0;
            @include radius(0, "bottom", "left");
            @include radius(0, "bottom", "right");
        }
    }
}
// }}}
// {{{ .jstree-root-add-button
.jstree-root-add-button {
    position: relative;
    display: block;
    height: 2 * $treeLineHeight;
    width: 2 * $treeLineHeight;
    cursor: pointer;
    margin-top: 1.5 * $treeLineHeight;
    text-indent: -1000em;


    &::before {
        position: absolute;
        content: " ";
        font-weight: bold !important;
        bottom: $treeLineHeight * 0.5 + ($treeLineHeight - $actionIconHeight) * 0.5;
        left: $treeLineHeight - 1px;
        width: $actionIconHeight;
        height: $actionIconHeight;
        color: $selectionTextColor;
        background-color: $backgroundColor;
        text-align: center;
        @include icon-base("add-white", $actionIconHeight);
        @include transition(300ms, "background-color");
        @include radius(50%);
    }
    &:hover::before {
        background-color: $insertMarkerBackground;
    }
}
// }}}
// {{{ #jstree-dnd
#jstree-dnd {
    line-height: 16px;
    margin: 0;
    padding: 4px;

    .jstree-icon,
    .jstree-copy {
        display: inline-block;
        text-decoration: none;
        margin: 0 2px 0 0;
        padding: 0;
        width: 16px;
        height: 16px;
    }
    .jstree-ok {
        background: green;
    }
    .jstree-er {
        background: red;
    }
    .jstree-copy {
        margin: 0 2px 0 2px;
        font-weight: bold;
        color: $textBrightColor;
        background-color: $insertMarkerBackground;
        border-radius: 50%;
        text-align: center;
        font-size: 1.4em;
        line-height: 20px;
        width: 24px;
        height: 24px;
    }
}
// }}}
// {{{ jstree background/icons
.jstree-node,
.jstree-icon {
    background-repeat: no-repeat;
    background-color: transparent;
}
.jstree-anchor,
.jstree-animated {
    transition: background-color 0.15s, box-shadow 0.15s;
}
.jstree-hovered {
    background: $backgroundColor;
}
.jstree-context {
    background: $backgroundColor;
}
.jstree-clicked,
.jstree-clicked.jstree-hovered {
    background: $backgroundColor;
    color: $textBaseColor !important;
}
.jstree-focus {
    .jstree-clicked,
    .jstree-clicked.jstree-hovered {
        background: $selectionBackgroundColor;
        color: $selectionTextColor !important;
    }
}
.jstree-no-icons .jstree-anchor > .jstree-themeicon {
    display: none;
}
.jstree-disabled {
    background: $backgroundDisabledColor;
    opacity: 0.5;
}
.jstree-disabled.jstree-hovered {
    background: $backgroundDisabledColor;
}
.jstree-disabled.jstree-clicked {
    background: $backgroundDisabledColor;
}
.jstree-disabled > .jstree-icon {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}
// }}}
// {{{ jstree elements
.jstree-search {
    font-style: italic;
    color: #8b0000;
    font-weight: bold;
}
.jstree-no-checkboxes .jstree-checkbox {
    display: none !important;
}
.jstree-node {
    min-height: $treeLineHeight;
    line-height: $treeLineHeight;
    margin-left: $iconSize;
    min-width: $treeLineHeight;
}
.jstree-anchor {
    line-height: $treeLineHeight;
    height: $treeLineHeight;
}
.jstree-icon {
    width: $iconSize;
    height: $treeLineHeight;
    line-height: $treeLineHeight;
}
.jstree-icon.jstree-themeicon {
    cursor: grab;
}
.jstree-ocl {
    width: $iconSize;
}
.jstree-icon,
.jstree-ocl {
    @include icon-base("none", $iconSize);
}
.jstree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
}
.jstree-node > .jstree-anchor > input.jstree-rename-input {
    position: absolute !important;
    display: block !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    padding-left: 6px !important;
    background: #ffffff;
    border: 1px solid $selectionBackgroundColor !important;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-stretch: inherit;
    font-variant: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    line-height: inherit !important;
}
.jstree-last {
    background: transparent;
}
.jstree-open > .jstree-ocl {
    @include icon("open", $iconSize);
}
.jstree-closed > .jstree-ocl {
    @include icon("closed", $iconSize);
}
.jstree-no-dots .jstree-node,
.jstree-no-dots .jstree-leaf > .jstree-ocl {
    background: transparent;
}
.jstree-disabled {
    background: transparent;
}
.jstree-disabled.jstree-hovered {
    background: transparent;
}
.jstree-disabled.jstree-clicked {
    background: #efefef;
}
.jstree-checkbox {
    background-position: -164px -4px;
}
.jstree-checkbox:hover {
    background-position: -164px -36px;
}
.jstree-clicked > .jstree-checkbox,
.jstree-checked > .jstree-checkbox {
    background-position: -228px -4px;
}
.jstree-clicked > .jstree-checkbox:hover,
.jstree-checked > .jstree-checkbox:hover {
    background-position: -228px -36px;
}
.jstree-anchor > .jstree-undetermined {
    background-position: -196px -4px;
}
.jstree-anchor > .jstree-undetermined:hover {
    background-position: -196px -36px;
}
.jstree-checkbox-disabled {
    opacity: 0.8;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}
.jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
}
.jstree-container-ul > .jstree-node {
    margin-left: 0;
    margin-right: 0;
}
#jstree-dnd {
    line-height: $treeLineHeight;
    padding: 0 4px;
}
#jstree-dnd .jstree-ok,
#jstree-dnd .jstree-er {
    background-repeat: no-repeat;
    background-color: transparent;
}
#jstree-dnd i {
    background: transparent;
    width: $treeLineHeight;
    height: $treeLineHeight;
    line-height: $treeLineHeight;
}
#jstree-dnd .jstree-ok {
    background-position: -4px -68px;
}
#jstree-dnd .jstree-er {
    background-position: -36px -68px;
}
.jstree-ellipsis {
    overflow: hidden;
}
.jstree-ellipsis .jstree-anchor {
    width: calc(100% - 29px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.jstree-ellipsis.jstree-no-icons .jstree-anchor {
    width: calc(100% - 5px);
}
// }}}

// {{{ icons
@include tree-icon("pg_page", "page");
@include tree-icon("pg_folder", "folder");
@include tree-icon("proj_folder", "folder");
@include tree-icon("proj_colorscheme", "colors");
@include tree-icon("pg_meta", "pg-meta");
@include tree-icon("redirect", "redirect");
@include tree-icon("edit_a", "redirect");
@include tree-icon("edit_text", "edit-text");
@include tree-icon("edit_headline", "edit-headline");
@include tree-icon("edit_video", "edit-video");
@include tree-icon("edit_audio", "edit-audio");
@include tree-icon("edit_unknown", "edit-unknown");
@include tree-icon("edit_img", "edit-img");
@include tree-icon("edit_imgtext", "edit-imgtext");
@include tree-icon("sec_section", "sec-section");
@include tree-icon("sec_section_2col", "sec-section-2col");
@include tree-icon("sec_section_2col_1", "sec-section-2col-1");
@include tree-icon("sec_section_2col_2", "sec-section-2col-2");
@include tree-icon("sec_section_2col_xl", "sec-section-2col-xl");
@include tree-icon("sec_section_2col_xl_1", "sec-section-2col-xl-1");
@include tree-icon("sec_section_2col_xl_2", "sec-section-2col-xl-2");
@include tree-icon("sec_section_3col", "sec-section-3col");
@include tree-icon("sec_section_3col_1", "sec-section-3col-1");
@include tree-icon("sec_section_3col_2", "sec-section-3col-2");
@include tree-icon("sec_section_3col_3", "sec-section-3col-3");
@include tree-icon("sec_vcard", "sec-vcard");

.icon-pg_page,
.icon-pg_folder {
    &.page-unreleased > .jstree-icon::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include icon-base("unreleased-small", $iconSize);
    }
}

.icon-pg_meta {
    font-weight: bold;

    span {
        font-weight: normal;
    }
}
.icon-sec_separator > .jstree-icon {
    background-image: none;
}
// }}}

// {{{ touch size adjustments
@media (pointer:coarse) {
    .jstree-node {
        min-height: $treeLineHeight * $touchScale;
        line-height: $treeLineHeight * $touchScale;
        margin-left: $iconSize * $touchScale;
        min-width: $treeLineHeight * $touchScale;
    }
    .jstree-icon {
        width: $iconSize * $touchScale;
        height: $treeLineHeight * $touchScale;
        line-height: $treeLineHeight * $touchScale;
    }
    .jstree-anchor {
        line-height: $treeLineHeight * $touchScale;
        height: $treeLineHeight * $touchScale;

        &,
        &:link,
        &:visited,
        &:hover,
        &:empty,
        &:active {
            margin-left: 2 * $iconSize * $touchScale;
        }
        > span.hint {
            > span.mini-thumb {
                top: ($treeLineHeight * $touchScale - $iconSize * $touchScale) / 2;
                left: -1 * $iconSize * $touchScale - 1px;
                width: $iconSize * $touchScale;
                height: $iconSize * $touchScale;
            }
        }
        > .jstree-icon {
            left: -1 * $iconSize * $touchScale - 1px;
        }
    }
    .jstree-ocl {
        width: $iconSize * $touchScale;
    }
}
// }}}

// {{{ trees layout
.trees {
    position: absolute;
    background: #ffffff;
    width: $treeWidth;
    overflow: hidden;
    border-right: 1px solid $borderColor;

    .tree {
        position: absolute;
        background: $backgroundLighterColor;

        .jstree-container {
            position: absolute;
            top: $infoHeight;
            bottom: 0;
            left: 0;
            right: 0;
            background: $backgroundBrightColor;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            @include transition(300ms, "background-color");

            &.jstree-focus {
                background: $textBrightColor;
                border-top-color: $selectionBackgroundColor;
                border-bottom-color: $selectionBackgroundColor;
            }
        }
    }
    .tree.pages {
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
        border-bottom: 1px solid $borderColor;
    }
    .tree.pagedata {
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.trees-hidden .trees {
    display: none;
}
.layout-left .trees {
    top: 0;
    left: 0;
    bottom: 0;
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
