# rewriting rules for depage::cms
#
# (c) 2003-2007 Frank Hellenkamp <jonas@depagecms.net>


# enable apache rewriting engine
RewriteEngine      on
RewriteBase        /depage_1.0


# rewriting for index
# only nessecary if no index.php is allowed
RewriteRule        ^$                                           index.php
RewriteRule        ^index.html                                  index.php

# rewriting for preview
RewriteRule        ^projects/(.*)/preview(/[^\/]*){2}/lib/(.*)  projects/$1/lib/$3
RewriteRule        ^projects/(.*)/preview/(.*)                  framework/preview.php

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Deny Access to settings directory
RewriteRule        ^settings/(.*)                               framework/interface/msg.php?title=auth_access&msg=auth_no_access          [last]
RewriteRule        ^logs/(.*)                                   framework/interface/msg.php?title=auth_access&msg=auth_no_access          [last]
RewriteRule        ^framework/lib/(.*)                          framework/interface/msg.php?title=auth_access&msg=auth_no_access          [last]
