# rewriting rules for depage::cms
#
# (c) 2003-2009 Frank Hellenkamp <jonas@depagecms.net>


# enable apache rewriting engine
RewriteEngine      on
RewriteBase        /depage_1.5

# rewriting for preview
RewriteRule        ^projects/(.*)/preview(/[^\/]*){2}/lib/(.*)  projects/$1/lib/$3

# redirect all other requests to index.php
RewriteCond        %{REQUEST_FILENAME} !-f
RewriteRule        ^(.*)                                  index.php [last]
