# rewriting rules for depage::cms
#
# (c) 2003-2007 Frank Hellenkamp <jonas@depagecms.net>


# enable apache rewriting engine
RewriteEngine    on
RewriteBase        /depage_1.0

# rewriting for index
# only nessecary if no index.php is allowed
RewriteRule        ^$                                            index.php            [last]
RewriteRule        ^index.html                                    index.php            [last]

# rewriting for preview
RewriteRule        ^projects/(.*)/preview(/[^\/]*){4}/lib/(.*)    projects/$1/lib/$3    [last]
RewriteRule        ^projects/(.*)/preview/(.*)                    framework/preview.php    [last]

# Deny Access to settings directory
RewriteRule         ^settings/(.*)                              framework/interface/msg.php?title=aa&msg=notallowed           [last]
