/* {{{ global */
* {
    font-family : Tahoma, Verdana, Arial, Geneva, sans-serif;
    font-size : 12px;
    text-decoration : none;
    margin-top : 0px;
    margin-bottom : 0px;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
.head {
    font-weight : bold;
    line-height : 15px;
    margin-top : 7px;
    margin-bottom : 10px;
}
.normal {
    line-height : 15px;
    margin-bottom : 10px;
}
h1 {
    padding-top: 10px;
}
ul {
    list-style: none;
    padding: 0;
    text-indent: 0px;
    padding-bottom: 10px;
    padding: 6px 0 24px 0px;
}
li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.temp {
    line-height : 15px;
}
a img {
    border: none;
}
/* }}} */
/* {{{ centered_box */
.centered_box {
    width: 100%;
    margin-top: 20px;
}
.centered_box .content {
    position: relative;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px 12px 12px;

    height: auto !important;
    height: 48px;
    min-height: 48px;
}
.centered_box.first .content {
    height: auto !important;
    height: 200px;
    min-height: 200px;
    margin-top: 100px;
}
.centered_box .bottom {
    position: absolute;
    bottom: 12px;
}
.centered_box .right {
    right: 12px;
}
.centered_box.noback .content {
    margin-top: 6px;
    background: none;
    padding-left: 0;
}
.centered_box small {
    font-size: 10px;
}
.centered_box .icon {
    position: absolute;
    top: 5px;
    left: -70px;
    width: 70px;
    height: 100%;
}
.centered_box .icon img {
    display: block;
    width: 48px;
    height: 48px;
}
/* }}} */
/* {{{ tasks */
.tasks h3 {
}
.progress {
    float: left; 
    border: 1px solid #000000; 
    background: #ffffff;
    width: 202px; 
    height: 15px; 
    margin: 10px;
}
.progress div {
    background: #ff9900; 
    height: 15px;
}
.tasks .desc {
    margin-top: 10px;
}
/* }}} */
/* {{{ users */
.users h3,
.users p {
    display: inline;
}
/* }}} */
/* {{{ projectlisting/toolbar */
ul.projectlisting {
    text-indent: 0;
    margin: 0;
}
.projectlisting li {
    clear: both;
    padding: 0;
    margin: 0;
}
.projectlisting p {
    float: right;
}
.toolbar {
    margin: 2px 12px;
}
.toolbar a,
.projectlisting a {
    display: block;
    float: left;
    line-height: 22px;
    height: 22px;
    padding: 2px 8px;
}
.toolbar .right {
    float: right;
}
.toolbar h2,
.projectlisting h2 {
    display: block;
    float: left;
}
.toolbar h2 a {
}
.projectlisting h2 a {
    /*width: 180px;*/
}
.toolbar h2 a,
.projectlisting h2 a {
    padding-left: 0;
}
.toolbar h2 a:hover,
.projectlisting h2 a:hover {
    background: inherit;
}
.toolbar a span,
.projectlisting a span {
    position: relative;
    padding-right: 20px;
}
.toolbar a img,
.projectlisting a img {
    position: absolute;
    top: -3px;
}
/* }}} */
/* {{{ dlg */
.dlg {
    position: absolute;
    padding: 10px;
    top: 100px;
    right: 50px;
    line-height: 22px;
}
.dlg span {
    display: inline-block;
    position: relative;
    width: 22px;
}
.dlg .question,
.dlg .yes,
.dlg .no {
    display: block;
    position: absolute;
    top: -14px;
    width: 22px;
    height: 22px;
}
/* }}} */

/* vim:set ft=css sw=4 sts=4 fdm=marker : */
