$progressAddFallback: false !default;

// {{{ progress
@mixin progress($colorBack, $colorBar) {
    //$animationId: unique-id();
    $animationId: str-slice(ie-hex-str($colorBack), 2, -3) + str-slice(ie-hex-str($colorBar), 2, -3);
    $animationName: IndeterminateAnim#{$animationId};
    $stripesA: 0% 0% / 200% 200% repeat linear-gradient(to right, $colorBack 0%, $colorBar 50%, $colorBack 100%);

    @-webkit-keyframes #{$animationName} {
        0%{background-position:0% 0%}
        50%{background-position:100% 0%}
        100%{background-position:0% 0%}
    }
    @-moz-keyframes #{$animationName} {
        0%{background-position:0% 0%}
        50%{background-position:100% 0%}
        100%{background-position:0% 0%}
    }
    @keyframes #{$animationName} {
        0%{background-position:0% 0%}
        50%{background-position:100% 0%}
        100%{background-position:0% 0%}
    }

    @include prefixer (appearance, none, webkit moz spec);
    overflow: hidden;
    height: 1em;
    width: 6em;
    background: $colorBack;
    position: relative;
    @content;

    &::-webkit-progress-bar {
        background: $colorBack;
    }
    &::-webkit-progress-value {
        background: $colorBar;
    }
    &::-moz-progress-bar {
        background: $colorBar;
    }
    &::progress-bar {
        background: $colorBack;
    }
    &::progress-value {
        background: $colorBar;
    }
    &:indeterminate {
        &::-webkit-progress-bar {
            background: $stripesA;
            -webkit-animation: $animationName 3s ease infinite;
        }
        &::-webkit-progress-value {
            opacity: 0;
        }
        &::-moz-progress-bar {
            background: $stripesA;
            -moz-animation: $animationName 3s ease infinite;
        }
        &::-moz-progress-value {
            opacity: 0;
        }
        &::progress-bar {
            background: $stripesA;
            animation: $animationName 3s ease infinite;
        }
        &::progress-value {
            opacity: 0;
        }
    }

    // test fallback for internet explorer 9 ?
    @if ($progressAddFallback) {
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            content: " ";
            display: block;
            background: $colorBar;
        }
        @for $i from 0 through 100 {
            $dec: $i / 100;
            // for progress without max
            &[value ^= '#{$dec}']:before {
                width: percentage($i / 100);
            }
            // for progress with max of 100 (for percent)
            &[max = '100'][value ^= '#{$i}']:before {
                width: percentage($i / 100);
            }
        }
    }
}
// }}}

// vim:set ft=scss sw=4 sts=4 fdm=marker :
