/* {{{ html5 */
/*
 * defines basic css properties for html5 elements
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
progress,
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
/* }}} */

// vim:set ft=scss sw=4 sts=4 fdm=marker :
