/* {{{ colors */
    .head {
        color: #000000;
    }
    .normal,
    h2 a {
        color: #000000;
    }
    a,
    h2 a:hover,
    .error span {
        color: #882200;
    }
    body {
        background: #ffffff
    }
    .centered_box .content {
        background: #ccc8c4
    }
    .centered_box.noback .content {
        background: none;
    }
    .toolbar a:hover {
        background: #ccc8c4;
    }
    .centered_box .toolbar a:hover,
    .projectlisting a:hover {
        background: #ffffff;
    }
    .projectlisting div.details {
        background: #ffffff;
    }
    .projectlisting div.details a {
        color: #000000;
    }
    .projectlisting div.details a:hover {
        color: #882200;
        background: #ccc8c4;
    }
    .projectlisting div.details table.lastchanged_pages .date,
    .projectlisting div.details table.lastchanged_pages .lastpublish,
    .projectlisting div.details table.lastchanged_pages .published a {
        color: #777777;
    }
    .projectlisting div.details table.lastchanged_pages tr:hover a .date,
    .projectlisting div.details table.lastchanged_pages tr:hover a {
        color: #882200;
    }
    #dlg {
        background: #ffc670;
        border: 1px solid #303238;
        color: #303238;
    }
    #dlg .question {
        background: url(../images/icon_question.gif);
    }
    #dlg .yes {
        background: url(../images/icon_yes.gif);
    }
    #dlg .no {
        background: url(../images/icon_no.gif);
    }
    .centered_box small  {
        color: #666666;
    }
    .centered_box .icon {
        color: #ccc8c4;
    }
    .centered_box .icon {
        color: #000000;
    }
/* }}} */

/* {{{ global */
* {
    font-family : Tahoma, Verdana, Arial, Geneva, sans-serif;
    font-size : 12px;
    text-decoration : none;
    margin-top : 0px;
    margin-bottom : 0px;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
.head {
    font-weight : bold;
    line-height : 15px;
    margin-top : 7px;
    margin-bottom : 10px;
}
.normal {
    line-height : 15px;
    margin-bottom : 10px;
}
h1 {
    padding-top: 10px;
}
ul {
    list-style: none;
    text-indent: 0px;
    margin: 0;
    padding: 6px 0 24px 0px;
}
li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.temp {
    line-height : 15px;
}
a img {
    border: none;
}
/* }}} */
/* {{{ border-radius */
.centered_box .content {
    -moz-border-radius: 0 0 12px 0;
    -webkit-border-bottom-right-radius: 12px;
}
.toolbar a,
.projectlisting a {
    /*
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    */
}
/* }}} */
/* {{{ centered_box */
.centered_box {
    width: 100%;
    margin-top: 20px;
}
.centered_box .content {
    position: relative;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px 12px 12px;

    height: auto !important;
    height: 48px;
    min-height: 48px;
}
.centered_box.first .content {
    height: auto !important;
    height: 200px;
    min-height: 200px;
    margin-top: 100px;
}
.centered_box .bottom {
    position: absolute;
    bottom: 12px;
}
.centered_box .right {
    right: 12px;
}
.centered_box.noback .content {
    margin-top: 6px;
    padding-left: 0;
}
.centered_box small {
    font-size: 10px;
}
.centered_box .icon {
    position: absolute;
    top: 5px;
    left: -70px;
    width: 70px;
    height: 100%;
}
.centered_box .icon img {
    display: block;
    width: 48px;
    height: 48px;
}
/* }}} */
/* {{{ tasks */
#box_tasks {
    display: none;
}
.tasks h3 {
}
.progress {
    float: left; 
    border: 1px solid #000000; 
    background: #ffffff;
    width: 202px; 
    height: 15px; 
    margin: 10px;
}
.progress div {
    background: #ff9900; 
    height: 15px;
}
.tasks .desc {
    margin-top: 10px;
}
/* }}} */
/* {{{ users */
ul.users h3,
ul.users p {
    display: inline;
}
/* }}} */
/* {{{ projectlisting/toolbar */
ul.projectlisting {
    text-indent: 0;
    margin: 0;
}
.projectlisting li {
    clear: both;
    padding: 0;
    margin: 0;
}
.projectlisting p {
    float: right;
}
.projectlisting div.details {
    clear: both;
    padding: 12px;
    margin-bottom: 12px;
    display: none;
}
.projectlisting .open div.details {
    display: block;
}
.projectlisting a.details_control.arrow,
.projectlisting a.details_control.arrow:hover {
    background: url(pics/icon_details_closed.gif);
}
.projectlisting .open a.details_control.arrow,
.projectlisting .open a.details_control.arrow:hover {
    background: url(pics/icon_details_open.gif);
}
.projectlisting div.details table.lastchanged_pages {
    margin-bottom: 16px;
}
.projectlisting div.details table.lastchanged_pages a {
    display: inline;
    float: none;
    padding: 0;
}
.projectlisting div.details table.lastchanged_pages a:hover {
    background: none;
}
.projectlisting div.details table.lastchanged_pages {
    width: 100%;
}
.projectlisting div.details table.lastchanged_pages td {
    padding-left: 8px;
    vertical-align: top;
}
.projectlisting div.details table.lastchanged_pages .date {
    text-align: right;
    white-space: nowrap;
    font-size: 10px;
    right: 0;
    top: 0;
}
.toolbar {
    margin: 2px 12px;
}
.toolbar a,
.projectlisting a {
    display: block;
    float: left;
    line-height: 22px;
    height: 22px;
    padding: 2px 8px;
}
.toolbar .right {
    float: right;
}
.toolbar ul h2,
.projectlisting ul h2 {
    display: block;
    float: left;
}
.toolbar h2 a {
}
.projectlisting h2 {
    float: left;
}
.toolbar h2 a,
.projectlisting h2 a {
    padding-left: 0;
}
.toolbar h2 a:hover,
.projectlisting h2 a:hover {
    background: none;
}
.toolbar a span,
.projectlisting a span {
    position: relative;
    padding-right: 20px;
}
.toolbar a img,
.projectlisting a img {
    position: absolute;
    top: -3px;
}
/* }}} */
/* {{{ dlg */
#dlg {
    position: absolute;
    padding: 10px;
    top: 100px;
    right: 50px;
    line-height: 22px;
}
#dlg span {
    display: inline-block;
    position: relative;
    width: 22px;
}
#dlg .question,
#dlg .yes,
#dlg .no {
    display: block;
    position: absolute;
    top: -14px;
    width: 22px;
    height: 22px;
}
/* }}} */

/* vim:set ft=css sw=4 sts=4 fdm=marker : */
