@charset "UTF-8";
/* {{{ global */
* {
  margin: 0;
  padding: 0; }

/**
* ## Basic global reset
*
* It changes the font-sizes of the body so that 1em is exactly 10px.
*/
html {
  font-size: 12pt; }

body {
  font-size: 62.5%; }

img {
  display: block; }

a img {
  border: none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none; }

/* }}} */
/* {{{ html5 */
/*
 * defines basic css properties for html5 elements
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

progress,
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* }}} */
.depage-form {
  max-width: 40em;
  /* {{{ input and label sizes */
  /* }}} */
  /* {{{ input states */
  /* }}} */
  /* {{{ fieldsets */
  /* }}} */
  /* {{{ stepnav */
  /* }}} */
  /* {{{ richtext */
  /* }}} */ }
  .depage-form .depage-label {
    display: block;
    float: left;
    width: 33%;
    height: 1em;
    min-height: 1em;
    height: auto !important;
    padding-bottom: 0.3em;
    padding-right: 0.3em; }
  .depage-form .input-boolean input {
    float: left;
    margin-top: 0.5em; }
  .depage-form .input-boolean .depage-label {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.7em; }
  .depage-form p {
    clear: left; }
  .depage-form p,
  .depage-form .depage-label {
    position: relative;
    line-height: 1.8em; }
  .depage-form input,
  .depage-form select,
  .depage-form textarea {
    width: 63%;
    font-family: inherit;
    font-size: 1em; }
  .depage-form .input-boolean input,
  .depage-form .input-single input,
  .depage-form .input-multiple input,
  .depage-form .back input,
  .depage-form .cancel input,
  .depage-form .submit input {
    width: auto; }
  .depage-form .input-single span label,
  .depage-form .input-multiple span label {
    display: inline-block;
    white-space: nowrap; }
    .depage-form .input-single span label span,
    .depage-form .input-multiple span label span {
      padding-left: 0.5em;
      padding-right: 1em;
      font-size: 1.1em; }
  .depage-form input,
  .depage-form select,
  .depage-form textarea {
    border: 1px solid #999999;
    padding: 0.2em; }
    .depage-form input:focus,
    .depage-form select:focus,
    .depage-form textarea:focus {
      border: 1px solid #000000; }
    .depage-form input:required, .depage-form input:invalid,
    .depage-form select:required,
    .depage-form select:invalid,
    .depage-form textarea:required,
    .depage-form textarea:invalid {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
    .error .depage-form input, .error
    .depage-form select, .error
    .depage-form textarea {
      border: 1px solid #ff0000; }
  .depage-form .input-boolean input,
  .depage-form .input-boolean input:focus, .depage-form .input-boolean.error input,
  .depage-form .input-single input,
  .depage-form .input-single input:focus,
  .depage-form .input-single.error input,
  .depage-form .input-multiple input,
  .depage-form .input-multiple input:focus,
  .depage-form .input-multiple.error input {
    border: none; }
  .depage-form .error .depage-label {
    color: #ff0000; }
  .depage-form .submit input {
    background: #cccccc; }
  .depage-form .submit.error input {
    border: 1px solid #dddddd;
    color: #999999;
    background: #dddddd; }
  .depage-form .errorMessage {
    display: block;
    position: absolute;
    top: 0.2em;
    right: 3%;
    max-width: 70%;
    font-size: 0.8em;
    text-align: right; }
  .depage-form fieldset {
    /*
    border: none;
    border-top: 1px solid;
    padding: 0;
    position: relative;
    background: #eeeeee;
    */ }
  .depage-form fieldset legend {
    /*
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.2em;
    font-weight: bold;
    background: #dddddd;
    margin-bottom: 1em;
    */ }
  .depage-form ol.stepnav {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
    margin: 0; }
    .depage-form ol.stepnav li {
      display: table-cell;
      list-style: none;
      background: #eeeeee;
      border-right: 0.3em solid #ffffff; }
      .depage-form ol.stepnav li a {
        display: block;
        height: 100%;
        padding: 0.4em;
        color: #000000;
        text-decoration: none; }
      .depage-form ol.stepnav li.invalid a::after {
        content: " !";
        color: #ff0000;
        font-weight: bold; }
      .depage-form ol.stepnav li.current-step {
        background: #dddddd; }
    .depage-form ol.stepnav li {
      *display: block;
      /* IE6/7 hack */
      *float: left; }
  .depage-form .depageEditor {
    clear: left;
    position: relative;
    margin-left: 25px; }
  .depage-form ul.depageEditorToolbar {
    position: absolute;
    left: -25px;
    top: 0;
    line-height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 25px; }
    .depage-form ul.depageEditorToolbar li {
      padding: 0; }
      .depage-form ul.depageEditorToolbar li a {
        display: block;
        width: 25px;
        height: 25px;
        text-indent: -10000px;
        background-image: url(../richtext-toolbar.png);
        background-repeat: none;
        background-position: 25px 0; }
        .depage-form ul.depageEditorToolbar li a.depageEditorButtonBold {
          background-position: 0 0; }
          .depage-form ul.depageEditorToolbar li a.depageEditorButtonBold:hover, .depage-form ul.depageEditorToolbar li a.depageEditorButtonBold.on {
            background-position: -25px 0; }
        .depage-form ul.depageEditorToolbar li a.depageEditorButtonItalic {
          background-position: 0 -25px; }
          .depage-form ul.depageEditorToolbar li a.depageEditorButtonItalic:hover, .depage-form ul.depageEditorToolbar li a.depageEditorButtonItalic.on {
            background-position: -25px -25px; }
        .depage-form ul.depageEditorToolbar li a.depageEditorButtonHyperlink {
          background-position: 0 -50px; }
          .depage-form ul.depageEditorToolbar li a.depageEditorButtonHyperlink:hover, .depage-form ul.depageEditorToolbar li a.depageEditorButtonHyperlink.on {
            background-position: -25px -50px; }
        .depage-form ul.depageEditorToolbar li a.depageEditorButtonOrderedList {
          background-position: 0 -75px; }
          .depage-form ul.depageEditorToolbar li a.depageEditorButtonOrderedList:hover, .depage-form ul.depageEditorToolbar li a.depageEditorButtonOrderedList.on {
            background-position: -25px -75px; }
        .depage-form ul.depageEditorToolbar li a.depageEditorButtonUnorderedList {
          background-position: 0 -100px; }
          .depage-form ul.depageEditorToolbar li a.depageEditorButtonUnorderedList:hover, .depage-form ul.depageEditorToolbar li a.depageEditorButtonUnorderedList.on {
            background-position: -25px -100px; }
        .depage-form ul.depageEditorToolbar li a.depageEditorButtonHTML {
          background-position: 0 -125px; }
          .depage-form ul.depageEditorToolbar li a.depageEditorButtonHTML:hover, .depage-form ul.depageEditorToolbar li a.depageEditorButtonHTML.on {
            background-position: -25px -125px; }
  .depage-form .input-richtext textarea,
  .depage-form .input-richtext iframe {
    width: 100%;
    border: 1px solid;
    min-height: 10em; }

/* vim:set ft=css sw=4 sts=4 fdm=marker : */
/* {{{ depageGrowlArea */
#depageGrowlArea {
  position: fixed;
  margin-top: 55px;
  margin-right: 0;
  z-index: 30000; }
  #depageGrowlArea div.depage-growl-message {
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 250px;
    min-height: 52px;
    background: #555555;
    padding: 5px 8px;
    color: #ffffff;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #depageGrowlArea div.depage-growl-message:hover {
      border-color: #ffffff; }
    #depageGrowlArea div.depage-growl-message img.depage-growl-icon {
      float: left;
      display: block;
      width: 36px;
      height: 36px;
      margin-right: 10px; }

/* }}} */
/* vim:set ft=scss sw=4 sts=4 fdm=marker : */
/* {{{ icons global */
@font-face {
  font-family: 'depage-icons';
  src: url("../fonts/depage-icons.eot");
  src: url("../fonts/depage-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/depage-icons.woff") format("woff"), url("../fonts/depage-icons.ttf") format("truetype"), url("../fonts/depage-icons.svg#depage-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.depage-form ul.depageEditorToolbar li a {
  background-image: none; }

.icon, .icon-editor-bold, .icon-editor-italic {
  position: relative;
  font-family: 'depage-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
  .icon:before, .icon-editor-bold:before, .icon-editor-italic:before {
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    text-align: center; }

/* }}} */
.icon-editor-bold:before {
  content: "\62"; }

.icon-editor-italic:before {
  content: "\69"; }

/* vim:set ft=scss sw=4 sts=4 fdm=marker : */
/* {{{ colors */
.head {
  color: #000000; }

.normal,
h2 a {
  color: #000000; }

a,
h2 a:hover,
.error span,
.depage-form p.cancel input {
  color: #882200; }

body {
  background: white; }

#toolbarmain {
  background: white; }

.centered_box .content {
  background: #ccc8c4; }

.centered_box.noback .content {
  background: none; }

.toolbar a:hover {
  background: #ccc8c4; }

.centered_box .toolbar a:hover,
.projectlist a:hover {
  background: #ffffff; }

.projectlist div.details {
  background: #ffffff; }

.projectlist div.details a {
  color: #000000; }

.projectlist div.details a:hover {
  color: #882200;
  background: #ccc8c4; }

.projectlist div.details table.lastchanged_pages .date,
.projectlist div.details table.lastchanged_pages .lastpublish,
.projectlist div.details table.lastchanged_pages .published a {
  color: #777777; }

.projectlist div.details table.lastchanged_pages tr:hover a .date,
.projectlist div.details table.lastchanged_pages tr:hover a {
  color: #882200; }

#dlg {
  background: #ffc670;
  border: 1px solid #303238;
  color: #303238; }

#dlg .question {
  background: url(../images/icon_question.gif); }

#dlg .yes {
  background: url(../images/icon_yes.gif); }

#dlg .no {
  background: url(../images/icon_no.gif); }

.centered_box small {
  color: #666666; }

.centered_box .icon, .centered_box .icon-editor-bold, .centered_box .icon-editor-italic {
  color: #ccc8c4; }

.centered_box .icon, .centered_box .icon-editor-bold, .centered_box .icon-editor-italic {
  color: #000000; }

.tabs {
  background: #ffffff; }
  .tabs .tab a {
    color: #000000; }
  .tabs .tab:hover {
    background: #efeeed; }
  .tabs .tab.active {
    background: #ccc8c4; }

.depage-form input,
.depage-form textarea,
.depage-form select {
  border: 1px solid #000000;
  background: #e3e3e3;
  color: #000000; }
  .depage-form input:focus,
  .depage-form textarea:focus,
  .depage-form select:focus {
    background: #ffffff; }
  .depage-form input:disabled,
  .depage-form textarea:disabled,
  .depage-form select:disabled {
    color: #7c808f; }
.depage-form p.submit input {
  border: 1px solid #979ba7; }

/* }}} */
/* {{{ global */
* {
  margin: 0;
  padding: 0; }
  *, * input, * button {
    font-family: Tahoma, Verdana, Arial, Geneva, sans-serif; }

a {
  text-decoration: none; }

div,
h1,
h2,
ul,
ol,
li,
p {
  font-size: 12px; }

html,
body {
  margin: 0;
  /*height: 100%;*/ }

.head {
  font-weight: bold;
  line-height: 15px;
  margin-top: 7px;
  margin-bottom: 10px; }

.normal {
  line-height: 15px;
  margin-bottom: 10px; }

h1 {
  padding-top: 10px; }

h1.size-XL {
  /*font-weight: normal;*/
  color: #ffffff;
  padding-bottom: 20px;
  letter-spacing: 0.1em; }

/*
.size-XL,
.size-XL * {
    font-size: 55px;
    font-family : Helvetica, Arial, Geneva, sans-serif;
}
.size-L,
.size-L *{
    font-size: 15px;
}
*/
ul {
  list-style: none;
  text-indent: 0px;
  margin: 0;
  padding: 6px 0 24px 0px; }

li {
  padding-top: 5px;
  padding-bottom: 5px; }

.temp {
  line-height: 15px; }

a img {
  border: none; }

/* }}} */
/* {{{ border-radius */
.button,
select,
.toggle-button,
.toolbar a,
.projectlist a,
.depage-form .submit input,
.depage-form .cancel input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer; }

/* }}} */
/* {{{ centered_box */
.centered_box {
  width: 100%;
  margin-top: 20px; }
  .centered_box .content {
    position: relative;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px 12px 12px;
    height: auto !important;
    height: 48px;
    min-height: 48px; }
    .centered_box .content:before {
      content: " ";
      display: block;
      position: absolute;
      top: 5px;
      left: -70px;
      width: 48px;
      height: 48px;
      font-size: 1em;
      opacity: 0.8;
      opacity: 1;
      background-repeat: no-repeat;
      background-image: url(../images/icon_sprite.svg);
      background-size: 192px 960px; }
  .centered_box:hover .content:before {
    opacity: 1; }
  .toolbar + .centered_box .content, header.info + .centered_box .content {
    height: auto !important;
    height: 200px;
    min-height: 250px;
    margin-top: 100px; }
  .centered_box .bottom {
    position: absolute;
    bottom: 12px; }
  .centered_box .right {
    right: 12px; }
  .centered_box.noback .content {
    margin-top: 6px;
    padding-left: 0; }
  .centered_box small {
    font-size: 10px; }
  .centered_box .icon, .centered_box .icon-editor-bold, .centered_box .icon-editor-italic {
    position: absolute;
    top: 5px;
    left: -70px;
    width: 70px;
    height: 100%; }
    .centered_box .icon img, .centered_box .icon-editor-bold img, .centered_box .icon-editor-italic img {
      display: block;
      width: 48px;
      height: 48px; }

/* }}} */
/* {{{ toolbars */
#toolbarmain {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  border-bottom: 1px solid #999999;
  width: 100%;
  z-index: 10002; }

.toolbar {
  height: 30px; }
  .toolbar menu {
    padding: 2px 8px;
    display: block;
    height: 100%;
    text-align: left; }
    .toolbar menu.right, .toolbar menu.preview, .toolbar menu.left {
      position: absolute;
      top: 0; }
    .toolbar menu.left {
      left: 100px; }
    .toolbar menu.right {
      right: 0; }
      .toolbar menu.right li menu {
        right: 0;
        left: auto; }
    .toolbar menu.preview {
      display: none; }
    .toolbar menu a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .toolbar menu a.icon-user:before, .toolbar menu a.icon-help:before, .toolbar menu a.icon-projects:before, .toolbar menu a.icon-settings:before {
        content: " ";
        display: inline-block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-image: url(../images/icon_sprite.svg);
        background-size: 192px 960px;
        margin-bottom: -8px;
        margin-left: -2px;
        margin-right: 6px; }
      @media screen and (max-width: 1200px) {
        .toolbar menu a.icon-user, .toolbar menu a.icon-help, .toolbar menu a.icon-projects, .toolbar menu a.icon-settings {
          width: 34px; }
          .toolbar menu a.icon-user:before, .toolbar menu a.icon-help:before, .toolbar menu a.icon-projects:before, .toolbar menu a.icon-settings:before {
            margin-right: 20px; } }
      .toolbar menu a.icon-user:before {
        background-position: -24px -24px;
        background-size: 96px 480px; }
      .toolbar menu a.icon-projects:before {
        background-position: 0px 0px;
        background-size: 96px 480px; }
      .toolbar menu a.icon-settings:before {
        background-position: -24px -48px;
        background-size: 96px 480px; }
      .toolbar menu a.icon-help {
        width: 34px; }
        .toolbar menu a.icon-help:hover {
          background: none; }
      .toolbar menu a.icon-help:before {
        background-position: 0 -168px;
        background-size: 96px 480px;
        margin-right: 20px; }
      .toolbar menu a.icon-help.active:before, .toolbar menu a.icon-help:hover:before {
        background-position: -24px -168px;
        background-size: 96px 480px; }
    .toolbar menu > li > a {
      max-width: 10em; }
  .toolbar li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0; }
    .toolbar li menu {
      display: none;
      position: absolute;
      top: 27px;
      left: 0;
      border: 1px solid #999999;
      border-top: none;
      height: auto;
      z-index: 10002;
      background-color: #eeeeee !important;
      padding: 10px 0;
      min-width: 200px; }
      .toolbar li menu li,
      .toolbar li menu hr {
        float: none;
        clear: both;
        display: block;
        white-space: nowrap; }
      .toolbar li menu a {
        clear: left;
        float: left;
        display: block;
        width: 100%;
        max-width: 100%; }
        .toolbar li menu a .thumb {
          position: static;
          display: inline-block;
          width: 14px;
          height: 14px;
          margin-right: 2px;
          margin-bottom: -2px; }
      .toolbar li menu a.right {
        clear: none;
        float: right;
        width: 34px;
        margin-left: -100%; }
      .toolbar li menu a:hover {
        background-color: #ffffff !important; }
      .toolbar li menu hr {
        height: 20px;
        border: none; }
      .toolbar li menu .depage-live-filter {
        text-align: right;
        padding-right: 0.2em; }
        .toolbar li menu .depage-live-filter input {
          border: none;
          font-size: 1em;
          padding: 0.2em 0.4em; }
  .toolbar menu li.open, .toolbar menu li.open:hover,
  .toolbar menu li.open > a:hover {
    background-color: #eeeeee !important; }
  .toolbar menu li.open menu {
    display: block;
    -webkit-box-shadow: 0 2px 0.2em 0 #aaaaaa;
    -moz-box-shadow: 0 2px 0.2em 0 #aaaaaa;
    box-shadow: 0 2px 0.2em 0 #aaaaaa; }
  .toolbar h1,
  .toolbar a,
  .toolbar span.zoom-select {
    display: block;
    float: left;
    line-height: 22px;
    height: 26px;
    padding: 2px 8px; }
  .toolbar a span {
    position: relative;
    padding-right: 20px; }
  .toolbar a img {
    position: absolute;
    top: -3px; }
  .toolbar a.disabled,
  .toolbar a.disabled:hover {
    background-color: #fff;
    color: #aaa;
    cursor: default; }
  .toolbar select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px;
    padding-right: 5px;
    margin-right: 3em;
    background-color: #ffffff;
    border: none; }
    .toolbar select::-ms-expand {
      display: none; }
    .toolbar select option {
      padding: 2px; }
    .toolbar select:hover {
      background-color: #eeeeee; }
  .toolbar .pills a.button,
  .toolbar .pills a.toggle-button {
    background-color: #eeeeee;
    border-right: 1px solid #dddddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    .toolbar .pills a.button:first-child,
    .toolbar .pills a.toggle-button:first-child {
      margin-left: 1em;
      -webkit-border-top-left-radius: 3px;
      -moz-border-topleft-radius: 3px;
      -ms-border-top-left-radius: 3px;
      -o-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-bottomleft-radius: 3px;
      -ms-border-bottom-left-radius: 3px;
      -o-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .toolbar .pills a.button:last-child,
    .toolbar .pills a.toggle-button:last-child {
      margin-right: 1em;
      -webkit-border-top-right-radius: 3px;
      -moz-border-topright-radius: 3px;
      -ms-border-top-right-radius: 3px;
      -o-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-bottomright-radius: 3px;
      -ms-border-bottom-right-radius: 3px;
      -o-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right: none; }
  .toolbar .pills a.toggle-button.active {
    color: #4E4C4B; }
  .toolbar .layout-buttons a {
    background-repeat: no-repeat;
    background-image: url(../images/icon_sprite.svg);
    background-size: 192px 960px;
    text-indent: -1000em;
    width: 2.4em; }
    .toolbar .layout-buttons a.left-full {
      background-position: 0 -79.2px;
      background-size: 105.6px 528px; }
    .toolbar .layout-buttons a.split {
      background-position: -26.4px -79.2px;
      background-size: 105.6px 528px; }
    .toolbar .layout-buttons a.tree-split {
      background-position: -52.8px -79.2px;
      background-size: 105.6px 528px; }
    .toolbar .layout-buttons a.right-full {
      background-position: -79.2px -79.2px;
      background-size: 105.6px 528px; }
    .toolbar .layout-buttons a.active.left-full, .toolbar .layout-buttons a:hover.left-full {
      background-position: 0 -105.6px;
      background-size: 105.6px 528px; }
    .toolbar .layout-buttons a.active.split, .toolbar .layout-buttons a:hover.split {
      background-position: -26.4px -105.6px;
      background-size: 105.6px 528px; }
    .toolbar .layout-buttons a.active.tree-split, .toolbar .layout-buttons a:hover.tree-split {
      background-position: -52.8px -105.6px;
      background-size: 105.6px 528px; }
    .toolbar .layout-buttons a.active.right-full, .toolbar .layout-buttons a:hover.right-full {
      background-position: -79.2px -105.6px;
      background-size: 105.6px 528px; }

/* }}} */
/* {{{ header.info */
header.info {
  position: fixed;
  top: 30px;
  height: 15px;
  border-bottom: 1px solid #999999;
  background: #CCC8C4;
  z-index: 10001; }
  header.info h1 {
    padding: 0;
    margin: 0;
    font-size: 10px;
    padding-left: 15px;
    font-weight: normal;
    color: #000000; }

/* }}} */
/* {{{ layouts */
html header.info,
html .toolbar menu.preview,
html .layout {
  -webkit-transition: 200ms ease-out;
  -moz-transition: 200ms ease-out;
  -ms-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
  -webkit-transition-property: left, right, width;
  -moz-transition-property: left, right, width;
  -ms-transition-property: left, right, width;
  -o-transition-property: left, right, width;
  transition-property: left, right, width; }
html .layout-left,
html .layout-right {
  position: absolute;
  top: 30px;
  padding-top: 15px;
  bottom: 0;
  overflow: scroll; }
  html .layout-left header.info,
  html .layout-right header.info {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; }
html .layout-left {
  left: 0; }
html .layout-right {
  right: 0; }
html.layout-left-full .layout-left {
  right: 0;
  width: 100%; }
html.layout-left-full .layout-right {
  left: 100%;
  width: 0; }
html.layout-right-full .layout-left {
  left: -820px;
  width: 820px; }
html.layout-right-full .layout-right {
  left: 0;
  width: 100%; }
html.layout-right-full .toolbar menu.preview {
  left: 160px;
  display: block; }
html.layout-split .layout-left {
  left: 0;
  width: 820px;
  max-width: 100%; }
html.layout-split .layout-right {
  left: 820px;
  right: 0;
  border-left: 1px solid #000000; }
html.layout-split .toolbar menu.preview {
  left: 820px;
  display: block; }
html.layout-tree-split .layout-left {
  left: 0;
  width: 697px;
  max-width: 100%; }
html.layout-tree-split .layout-right {
  left: 255px;
  right: 0;
  border-left: 1px solid #000000; }
@media screen and (max-width: 1300px) {
  html.layout-right-full .layout-left {
    left: -656px;
    width: 656px; }
  html.layout-split .layout-left {
    width: 656px; }
  html.layout-split .layout-right {
    left: 656px; }
  html.layout-split .toolbar menu.preview {
    left: 656px; } }
@media screen and (max-width: 1024px) {
  html.layout-right-full .layout-left {
    left: -574px;
    width: 574px; }
  html.layout-split .layout-left {
    width: 574px; }
  html.layout-split .layout-right {
    left: 574px; }
  html.layout-split #toolbarmain menu.preview {
    left: 574px;
    margin-left: -180px;
    width: 180px;
    text-align: right; } }

/* }}} */
/* {{{ flash/edit */
.edit iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%; }

.mock {
  position: absolute;
  z-index: -1; }
  .mock.tree-pages {
    top: 36px;
    bottom: 50%;
    left: 36px;
    width: 214px; }
  .mock.tree-page {
    top: 53%;
    bottom: 0;
    left: 36px;
    right: 75%;
    width: 214px; }
  .mock.content-properties {
    top: 36px;
    bottom: 0;
    left: 250px;
    right: 0; }
  .mock.preview-button {
    left: 0;
    bottom: 10px;
    height: 36px;
    width: 36px; }

/* }}} */
/* {{{ preview */
div.preview iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  background: #ffffff; }

div.preview .zoomwrapper {
  width: 100%;
  height: 100%;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0; }

div.preview.zoom50 .zoomwrapper {
  zoom: 0.5;
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5); }

div.preview.zoom50 iframe {
  width: 200%;
  height: 200%; }

div.preview.zoom75 .zoomwrapper {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -webkit-transform: scale(0.75); }

div.preview.zoom75 iframe {
  width: 133%;
  height: 133%; }

div.preview.zoom100 .zoomwrapper {
  zoom: 1;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1); }

div.preview.zoom100 iframe {
  width: 100%;
  height: 100%; }

/* }}} */
/* {{{ tabs */
.tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 32px;
  max-height: 32px; }
  .tabs:after {
    content: ".";
    display: block;
    height: 0;
    clear: "both";
    visibility: hidden; }
  * html .tabs {
    height: 1px; }
  .tabs,
  .tabs .tab {
    padding: 0; }
  .tabs .tab {
    display: inline-block;
    list-style: none;
    height: 32px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-topleft-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-topright-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px; }
    .tabs .tab:first-child a, .tabs .tab.active a {
      font-weight: bold; }
    .tabs .tab a {
      display: inline-block;
      height: 32px;
      line-height: 32px;
      padding: 0 12px; }
  .tabs ~ * {
    margin-top: 32px; }

/* }}} */
/* {{{ trees */
.trees {
  position: absolute;
  background: #ffffff;
  width: 300px;
  overflow: hidden; }

.trees-hidden .trees {
  display: none; }

.layout-narrow .trees {
  top: 40px;
  left: 10px;
  bottom: 10px;
  border: 1px solid #000000; }

.layout-wide .trees {
  top: 30px;
  bottom: 0; }

/* }}} */
/* {{{ depage-scroller */
.testbox {
  width: 100%;
  height: 50%;
  border: 1px solid #dfdfdf; }

.depage-scroller .depage-scroller-frame {
  width: 100%;
  height: 100%;
  overflow: hidden; }
.depage-scroller .depage-scroller-content {
  min-height: 100%;
  padding-right: 7px; }
.depage-scroller .scroll-bar {
  position: absolute;
  right: 0;
  width: 12px;
  height: 100%; }
.depage-scroller .scroll-bar .scroll-handle {
  position: absolute;
  right: 0;
  width: 7px;
  border-right: 5px solid #dfdfdf; }
.depage-scroller:hover .scroll-bar .scroll-handle {
  border-right: 5px solid #555555; }
.depage-scroller.dragging .scroll-bar,
.depage-scroller .scroll-bar:hover {
  background: #dfdfdf;
  cursor: pointer; }
  .depage-scroller.dragging .scroll-bar .scroll-handle,
  .depage-scroller .scroll-bar:hover .scroll-handle {
    background: #ff9900;
    border-right: 5px solid #ff9900; }

/* }}} */
/* {{{ depage-forms */
.depage-form {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 100%; }
  .depage-form:after {
    content: ".";
    display: block;
    height: 0;
    clear: "both";
    visibility: hidden; }
  * html .depage-form {
    height: 1px; }
  .depage-form input,
  .depage-form textarea,
  .depage-form select {
    padding: 4px 9px; }
  .depage-form.saving::before {
    content: "saving";
    position: absolute;
    top: 0;
    right: 0; }
  .depage-form p {
    margin-bottom: 5px; }
  .depage-form p.submit,
  .depage-form p.cancel {
    float: left; }
    .depage-form p.submit input,
    .depage-form p.cancel input {
      margin-top: 24px;
      cursor: pointer; }
  .depage-form p.submit input {
    font-weight: bold; }
  .depage-form p.cancel {
    clear: none;
    margin-left: 12px; }
    .depage-form p.cancel input {
      background: none;
      border: none;
      text-decoration: underline; }
      .depage-form p.cancel input:hover {
        color: #000000; }
  .depage-form fieldset {
    position: relative;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px; }
    .depage-form fieldset + fieldset {
      border-top: 1px solid #eeeeee; }
    .depage-form fieldset legend {
      font-weight: bold;
      float: left;
      width: 100%;
      line-height: 15px;
      margin-top: 12px;
      margin-bottom: 6px; }

/* }}} */
/* {{{ sortable forms */
.sortable-forms {
  margin-top: 15px; }
  .sortable-forms .sortable {
    position: relative;
    padding: 0;
    margin: 0;
    height: 26px;
    width: 75%;
    margin-left: 25%; }
    .sortable-forms .sortable.new {
      margin-top: 22px; }
      .sortable-forms .sortable.new h1 {
        padding-left: 2em; }
        .sortable-forms .sortable.new h1:before {
          display: block;
          content: " ";
          position: absolute;
          top: 0em;
          left: 0em;
          width: 2em;
          height: 2em;
          background-color: transparent;
          background-repeat: no-repeat;
          background-image: url(../images/icon_sprite.svg);
          background-size: 192px 960px;
          background-position: 0 -144px;
          background-size: 96px 480px; }
    .sortable-forms .sortable:target h1, .sortable-forms .sortable.active h1 {
      background-color: #ffffff;
      font-weight: bold;
      width: 34%; }
      .sortable-forms .sortable:target h1:hover, .sortable-forms .sortable.active h1:hover {
        text-decoration: none; }
    .sortable-forms .sortable:target form, .sortable-forms .sortable.active form {
      display: block; }
    .sortable-forms .sortable.dragged {
      position: absolute;
      z-index: 10000; }
      .sortable-forms .sortable.dragged h1 {
        background: #ffffff;
        font-weight: bold; }
      .sortable-forms .sortable.dragged form {
        display: none !important; }
    .sortable-forms .sortable h1 {
      position: relative;
      position: relative; }
  .sortable-forms .placeholder {
    height: 26px; }
  .sortable-forms h1,
  .sortable-forms form {
    padding: 5px 10px;
    background: #ffffff; }
  .sortable-forms h1 {
    position: absolute;
    left: -33%;
    top: 0;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 26px;
    margin: 0;
    float: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: none;
    font-weight: normal; }
    .sortable-forms h1:hover {
      text-decoration: underline; }
  .sortable-forms form {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
  .sortable-forms p.submit {
    position: static;
    float: none; }

/* }}} */
/* {{{ details */
dl.projectlist dt .opener {
  display: block;
  content: " ";
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  background-repeat: no-repeat;
  background-image: url(../images/icon_sprite.svg);
  background-size: 192px 960px;
  background-position: 0 -107.52px;
  background-size: 53.76px 268.8px; }

dl.projectlist dt.active .opener {
  background-position: 0 -120.96px;
  background-size: 53.76px 268.8px; }

/* }}} */
/* {{{ projectlist */
.box-projects .content:before {
  background-position: 0px 0px; }

dl.projectlist {
  text-indent: 0;
  margin: 12px 0 24px 24px; }
  dl.projectlist dt {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 26px;
    display: inline-block; }
    dl.projectlist dt:after {
      content: ".";
      display: block;
      height: 0;
      clear: "both";
      visibility: hidden; }
    * html dl.projectlist dt {
      height: 1px; }
  dl.projectlist dd {
    position: relative;
    clear: both;
    padding: 12px;
    margin-bottom: 12px;
    background: #ffffff; }
  dl.projectlist img.thumb {
    position: absolute;
    top: 0;
    left: -24px;
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-right: 5px; }
  dl.projectlist dt strong,
  dl.projectlist a.button {
    float: left;
    line-height: 20px;
    height: 26px;
    padding: 1px 7px;
    border: 1px solid transparent; }
  dl.projectlist a.button:hover {
    background: #ffffff; }
  dl.projectlist .buttons {
    float: right; }
  dl.projectlist dt strong {
    padding-left: 0; }
  dl.projectlist div.details table.lastchanged_pages {
    margin-bottom: 16px; }
  dl.projectlist div.details table.lastchanged_pages a {
    display: inline;
    float: none;
    padding: 0; }
  dl.projectlist div.details table.lastchanged_pages a:hover {
    background: none; }
  dl.projectlist div.details table.lastchanged_pages {
    width: 100%; }
  dl.projectlist div.details table.lastchanged_pages td {
    padding-left: 8px;
    vertical-align: top; }
  dl.projectlist div.details table.lastchanged_pages .date {
    text-align: right;
    white-space: nowrap;
    font-size: 10px;
    right: 0;
    top: 0; }

/* }}} */
/* {{{ recent-changed */
table.recent-changes {
  width: 100%;
  table-layout: fixed; }
  table.recent-changes td {
    line-height: 24px; }
  table.recent-changes td.lastchange {
    text-align: center;
    font-size: 0.8em; }
  table.recent-changes td.url {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    table.recent-changes td.url a {
      color: #000000; }
      table.recent-changes td.url a:hover {
        text-decoration: underline; }
  table.recent-changes td.date {
    width: 30%;
    text-align: right;
    font-size: 0.8em;
    white-space: nowrap; }
  table.recent-changes td.lastchange,
  table.recent-changes td.lastchange a,
  table.recent-changes td.date,
  table.recent-changes td.date a,
  table.recent-changes td.published,
  table.recent-changes td.published a {
    color: #aaaaaa; }

/* }}} */
/* {{{ users */
.box-users .content:before {
  background-position: 0 -48px; }

ul.users h3,
ul.users p {
  display: inline; }

/* }}} */
/* {{{ tasks */
.box-tasks .content:before {
  background-position: 0 -96px; }

.tasks dt {
  font-weight: normal;
  color: #882200;
  margin-top: 24px; }
  .tasks dt:first-child {
    margin-top: 12px; }
.tasks dd {
  margin-left: 0;
  position: relative;
  color: #666666; }
  .tasks dd strong {
    font-weight: normal;
    color: #000000; }
  .tasks dd p {
    width: 80%; }
  .tasks dd.failed p {
    margin-left: 2em; }
  .tasks dd.failed p,
  .tasks dd.failed strong {
    color: #882200; }
  .tasks dd.failed strong {
    font-weight: bold; }
    .tasks dd.failed strong:before {
      content: "!";
      display: block;
      float: left;
      margin-left: -1em;
      font-size: 2em; }
.tasks #delete-task {
  position: absolute;
  top: -4px;
  right: 0;
  width: auto; }
  .tasks #delete-task p.submit input {
    margin: 0;
    font-weight: normal; }

/* }}} */
/* {{{ settings */
.box-settings .content:before {
  background-position: -48px -96px; }

/* }}} */
/* {{{ upload */
#upload {
  background: rgba(255, 255, 255, 0.5); }
  #upload .box {
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
    width: 520px;
    border: 1px solid #999999;
    padding: 10px;
    background: #ccc8c4;
    margin: auto;
    margin-top: 100px; }
  #upload p.submit {
    display: none; }
  #upload p.input-file {
    width: 100%; }
    #upload p.input-file input {
      width: 100%;
      border: none;
      background: none;
      padding-left: 0; }
  #upload .dropArea.has-drop-support {
    height: 250px; }
    #upload .dropArea.has-drop-support .content:before {
      content: "Drop files here";
      display: block;
      position: relative;
      margin: auto;
      width: 240px;
      text-align: center;
      font-size: 16px; }
    #upload .dropArea.has-drop-support .content:after {
      background-repeat: no-repeat;
      background-image: url(../images/icon_sprite.svg);
      background-size: 192px 960px;
      background-position: 0 -600px;
      background-size: 480px 2400px;
      display: block;
      content: " ";
      position: relative;
      border: 1px solid #999999;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      -o-border-radius: 14px;
      border-radius: 14px;
      margin: auto;
      width: 120px;
      height: 120px; }
    #upload .dropArea.has-drop-support.drag-over .content:after {
      background-position: -120px -600px;
      background-size: 480px 2400px;
      border-color: #4E4C4B; }
  #upload .progressArea {
    width: 400px; }
    #upload .progressArea .textinfo {
      display: block; }
    #upload .progressArea progress {
      display: block; }

/* }}} */
/* {{{ progress */
progress {
  display: block; }
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    height: 1em;
    width: 6em;
    background: white;
    position: relative;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em;
    width: 80%;
    height: 12px;
    margin: 6px 0;
    border: none;
    height: 4px; }
    progress::-webkit-progress-bar {
      background: white !important; }
    progress::-webkit-progress-value {
      background: #882200 !important; }
    progress::-moz-progress-bar {
      background: #882200 !important; }
    progress::progress-bar {
      background: white !important; }
    progress::progress-value {
      background: #882200 !important; }
    progress:before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      content: " ";
      display: block;
      background: #882200; }
    progress[value^='0']:before {
      width: 0%; }
    progress[max='100'][value^='0']:before {
      width: 0%; }
    progress[value^='0.01']:before {
      width: 1%; }
    progress[max='100'][value^='1']:before {
      width: 1%; }
    progress[value^='0.02']:before {
      width: 2%; }
    progress[max='100'][value^='2']:before {
      width: 2%; }
    progress[value^='0.03']:before {
      width: 3%; }
    progress[max='100'][value^='3']:before {
      width: 3%; }
    progress[value^='0.04']:before {
      width: 4%; }
    progress[max='100'][value^='4']:before {
      width: 4%; }
    progress[value^='0.05']:before {
      width: 5%; }
    progress[max='100'][value^='5']:before {
      width: 5%; }
    progress[value^='0.06']:before {
      width: 6%; }
    progress[max='100'][value^='6']:before {
      width: 6%; }
    progress[value^='0.07']:before {
      width: 7.0%; }
    progress[max='100'][value^='7']:before {
      width: 7.0%; }
    progress[value^='0.08']:before {
      width: 8%; }
    progress[max='100'][value^='8']:before {
      width: 8%; }
    progress[value^='0.09']:before {
      width: 9%; }
    progress[max='100'][value^='9']:before {
      width: 9%; }
    progress[value^='0.1']:before {
      width: 10%; }
    progress[max='100'][value^='10']:before {
      width: 10%; }
    progress[value^='0.11']:before {
      width: 11%; }
    progress[max='100'][value^='11']:before {
      width: 11%; }
    progress[value^='0.12']:before {
      width: 12%; }
    progress[max='100'][value^='12']:before {
      width: 12%; }
    progress[value^='0.13']:before {
      width: 13%; }
    progress[max='100'][value^='13']:before {
      width: 13%; }
    progress[value^='0.14']:before {
      width: 14.0%; }
    progress[max='100'][value^='14']:before {
      width: 14.0%; }
    progress[value^='0.15']:before {
      width: 15%; }
    progress[max='100'][value^='15']:before {
      width: 15%; }
    progress[value^='0.16']:before {
      width: 16%; }
    progress[max='100'][value^='16']:before {
      width: 16%; }
    progress[value^='0.17']:before {
      width: 17%; }
    progress[max='100'][value^='17']:before {
      width: 17%; }
    progress[value^='0.18']:before {
      width: 18%; }
    progress[max='100'][value^='18']:before {
      width: 18%; }
    progress[value^='0.19']:before {
      width: 19%; }
    progress[max='100'][value^='19']:before {
      width: 19%; }
    progress[value^='0.2']:before {
      width: 20%; }
    progress[max='100'][value^='20']:before {
      width: 20%; }
    progress[value^='0.21']:before {
      width: 21%; }
    progress[max='100'][value^='21']:before {
      width: 21%; }
    progress[value^='0.22']:before {
      width: 22%; }
    progress[max='100'][value^='22']:before {
      width: 22%; }
    progress[value^='0.23']:before {
      width: 23%; }
    progress[max='100'][value^='23']:before {
      width: 23%; }
    progress[value^='0.24']:before {
      width: 24%; }
    progress[max='100'][value^='24']:before {
      width: 24%; }
    progress[value^='0.25']:before {
      width: 25%; }
    progress[max='100'][value^='25']:before {
      width: 25%; }
    progress[value^='0.26']:before {
      width: 26%; }
    progress[max='100'][value^='26']:before {
      width: 26%; }
    progress[value^='0.27']:before {
      width: 27%; }
    progress[max='100'][value^='27']:before {
      width: 27%; }
    progress[value^='0.28']:before {
      width: 28.0%; }
    progress[max='100'][value^='28']:before {
      width: 28.0%; }
    progress[value^='0.29']:before {
      width: 29.0%; }
    progress[max='100'][value^='29']:before {
      width: 29.0%; }
    progress[value^='0.3']:before {
      width: 30%; }
    progress[max='100'][value^='30']:before {
      width: 30%; }
    progress[value^='0.31']:before {
      width: 31%; }
    progress[max='100'][value^='31']:before {
      width: 31%; }
    progress[value^='0.32']:before {
      width: 32%; }
    progress[max='100'][value^='32']:before {
      width: 32%; }
    progress[value^='0.33']:before {
      width: 33%; }
    progress[max='100'][value^='33']:before {
      width: 33%; }
    progress[value^='0.34']:before {
      width: 34%; }
    progress[max='100'][value^='34']:before {
      width: 34%; }
    progress[value^='0.35']:before {
      width: 35%; }
    progress[max='100'][value^='35']:before {
      width: 35%; }
    progress[value^='0.36']:before {
      width: 36%; }
    progress[max='100'][value^='36']:before {
      width: 36%; }
    progress[value^='0.37']:before {
      width: 37%; }
    progress[max='100'][value^='37']:before {
      width: 37%; }
    progress[value^='0.38']:before {
      width: 38%; }
    progress[max='100'][value^='38']:before {
      width: 38%; }
    progress[value^='0.39']:before {
      width: 39%; }
    progress[max='100'][value^='39']:before {
      width: 39%; }
    progress[value^='0.4']:before {
      width: 40%; }
    progress[max='100'][value^='40']:before {
      width: 40%; }
    progress[value^='0.41']:before {
      width: 41%; }
    progress[max='100'][value^='41']:before {
      width: 41%; }
    progress[value^='0.42']:before {
      width: 42%; }
    progress[max='100'][value^='42']:before {
      width: 42%; }
    progress[value^='0.43']:before {
      width: 43%; }
    progress[max='100'][value^='43']:before {
      width: 43%; }
    progress[value^='0.44']:before {
      width: 44%; }
    progress[max='100'][value^='44']:before {
      width: 44%; }
    progress[value^='0.45']:before {
      width: 45%; }
    progress[max='100'][value^='45']:before {
      width: 45%; }
    progress[value^='0.46']:before {
      width: 46%; }
    progress[max='100'][value^='46']:before {
      width: 46%; }
    progress[value^='0.47']:before {
      width: 47%; }
    progress[max='100'][value^='47']:before {
      width: 47%; }
    progress[value^='0.48']:before {
      width: 48%; }
    progress[max='100'][value^='48']:before {
      width: 48%; }
    progress[value^='0.49']:before {
      width: 49%; }
    progress[max='100'][value^='49']:before {
      width: 49%; }
    progress[value^='0.5']:before {
      width: 50%; }
    progress[max='100'][value^='50']:before {
      width: 50%; }
    progress[value^='0.51']:before {
      width: 51%; }
    progress[max='100'][value^='51']:before {
      width: 51%; }
    progress[value^='0.52']:before {
      width: 52%; }
    progress[max='100'][value^='52']:before {
      width: 52%; }
    progress[value^='0.53']:before {
      width: 53%; }
    progress[max='100'][value^='53']:before {
      width: 53%; }
    progress[value^='0.54']:before {
      width: 54%; }
    progress[max='100'][value^='54']:before {
      width: 54%; }
    progress[value^='0.55']:before {
      width: 55.0%; }
    progress[max='100'][value^='55']:before {
      width: 55.0%; }
    progress[value^='0.56']:before {
      width: 56.0%; }
    progress[max='100'][value^='56']:before {
      width: 56.0%; }
    progress[value^='0.57']:before {
      width: 57.0%; }
    progress[max='100'][value^='57']:before {
      width: 57.0%; }
    progress[value^='0.58']:before {
      width: 58.0%; }
    progress[max='100'][value^='58']:before {
      width: 58.0%; }
    progress[value^='0.59']:before {
      width: 59%; }
    progress[max='100'][value^='59']:before {
      width: 59%; }
    progress[value^='0.6']:before {
      width: 60%; }
    progress[max='100'][value^='60']:before {
      width: 60%; }
    progress[value^='0.61']:before {
      width: 61%; }
    progress[max='100'][value^='61']:before {
      width: 61%; }
    progress[value^='0.62']:before {
      width: 62%; }
    progress[max='100'][value^='62']:before {
      width: 62%; }
    progress[value^='0.63']:before {
      width: 63%; }
    progress[max='100'][value^='63']:before {
      width: 63%; }
    progress[value^='0.64']:before {
      width: 64%; }
    progress[max='100'][value^='64']:before {
      width: 64%; }
    progress[value^='0.65']:before {
      width: 65%; }
    progress[max='100'][value^='65']:before {
      width: 65%; }
    progress[value^='0.66']:before {
      width: 66%; }
    progress[max='100'][value^='66']:before {
      width: 66%; }
    progress[value^='0.67']:before {
      width: 67%; }
    progress[max='100'][value^='67']:before {
      width: 67%; }
    progress[value^='0.68']:before {
      width: 68%; }
    progress[max='100'][value^='68']:before {
      width: 68%; }
    progress[value^='0.69']:before {
      width: 69%; }
    progress[max='100'][value^='69']:before {
      width: 69%; }
    progress[value^='0.7']:before {
      width: 70%; }
    progress[max='100'][value^='70']:before {
      width: 70%; }
    progress[value^='0.71']:before {
      width: 71%; }
    progress[max='100'][value^='71']:before {
      width: 71%; }
    progress[value^='0.72']:before {
      width: 72%; }
    progress[max='100'][value^='72']:before {
      width: 72%; }
    progress[value^='0.73']:before {
      width: 73%; }
    progress[max='100'][value^='73']:before {
      width: 73%; }
    progress[value^='0.74']:before {
      width: 74%; }
    progress[max='100'][value^='74']:before {
      width: 74%; }
    progress[value^='0.75']:before {
      width: 75%; }
    progress[max='100'][value^='75']:before {
      width: 75%; }
    progress[value^='0.76']:before {
      width: 76%; }
    progress[max='100'][value^='76']:before {
      width: 76%; }
    progress[value^='0.77']:before {
      width: 77%; }
    progress[max='100'][value^='77']:before {
      width: 77%; }
    progress[value^='0.78']:before {
      width: 78%; }
    progress[max='100'][value^='78']:before {
      width: 78%; }
    progress[value^='0.79']:before {
      width: 79%; }
    progress[max='100'][value^='79']:before {
      width: 79%; }
    progress[value^='0.8']:before {
      width: 80%; }
    progress[max='100'][value^='80']:before {
      width: 80%; }
    progress[value^='0.81']:before {
      width: 81%; }
    progress[max='100'][value^='81']:before {
      width: 81%; }
    progress[value^='0.82']:before {
      width: 82%; }
    progress[max='100'][value^='82']:before {
      width: 82%; }
    progress[value^='0.83']:before {
      width: 83%; }
    progress[max='100'][value^='83']:before {
      width: 83%; }
    progress[value^='0.84']:before {
      width: 84%; }
    progress[max='100'][value^='84']:before {
      width: 84%; }
    progress[value^='0.85']:before {
      width: 85%; }
    progress[max='100'][value^='85']:before {
      width: 85%; }
    progress[value^='0.86']:before {
      width: 86%; }
    progress[max='100'][value^='86']:before {
      width: 86%; }
    progress[value^='0.87']:before {
      width: 87%; }
    progress[max='100'][value^='87']:before {
      width: 87%; }
    progress[value^='0.88']:before {
      width: 88%; }
    progress[max='100'][value^='88']:before {
      width: 88%; }
    progress[value^='0.89']:before {
      width: 89%; }
    progress[max='100'][value^='89']:before {
      width: 89%; }
    progress[value^='0.9']:before {
      width: 90%; }
    progress[max='100'][value^='90']:before {
      width: 90%; }
    progress[value^='0.91']:before {
      width: 91%; }
    progress[max='100'][value^='91']:before {
      width: 91%; }
    progress[value^='0.92']:before {
      width: 92%; }
    progress[max='100'][value^='92']:before {
      width: 92%; }
    progress[value^='0.93']:before {
      width: 93%; }
    progress[max='100'][value^='93']:before {
      width: 93%; }
    progress[value^='0.94']:before {
      width: 94%; }
    progress[max='100'][value^='94']:before {
      width: 94%; }
    progress[value^='0.95']:before {
      width: 95%; }
    progress[max='100'][value^='95']:before {
      width: 95%; }
    progress[value^='0.96']:before {
      width: 96%; }
    progress[max='100'][value^='96']:before {
      width: 96%; }
    progress[value^='0.97']:before {
      width: 97%; }
    progress[max='100'][value^='97']:before {
      width: 97%; }
    progress[value^='0.98']:before {
      width: 98%; }
    progress[max='100'][value^='98']:before {
      width: 98%; }
    progress[value^='0.99']:before {
      width: 99%; }
    progress[max='100'][value^='99']:before {
      width: 99%; }
    progress[value^='1']:before {
      width: 100%; }
    progress[max='100'][value^='100']:before {
      width: 100%; }

/* }}} */
/* {{{ live-filter */
.content .depage-live-filter {
  position: absolute;
  top: 8px;
  right: 12px; }
  .content .depage-live-filter input {
    font-size: 12px;
    padding: 2px 5px;
    border: 1px solid #ffffff; }
    .content .depage-live-filter input:focus {
      border: 1px solid #000000; }

/* }}} */
/* {{{ live-help */
.live-help-mock {
  display: none; }

#depage-live-help {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20001;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -ms-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;
  transition: 500ms ease-out;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }
  #depage-live-help.visible {
    opacity: 1; }
  #depage-live-help svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; }
    #depage-live-help svg line {
      stroke: #047cbf;
      stroke-width: 2px; }
  #depage-live-help div {
    position: absolute;
    padding: 0.5em;
    background: #047cbf;
    color: #ffffff;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    max-width: 12em;
    z-index: 2;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3); }
    #depage-live-help div.big {
      max-width: 20em; }

#depage-live-help .area p:first-child {
  font-weight: bold; }
#depage-live-help p {
  line-height: 1.3em; }
#depage-live-help .icon, #depage-live-help .icon-editor-bold, #depage-live-help .icon-editor-italic {
  padding-left: 42px;
  min-height: 42px;
  min-width: 96px; }
  #depage-live-help .icon:before, #depage-live-help .icon-editor-bold:before, #depage-live-help .icon-editor-italic:before {
    content: " ";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(../images/icon_sprite.svg);
    background-size: 192px 960px; }
#depage-live-help .icon-tree:before {
  background-position: 0 -319.2px;
  background-size: 127.68px 638.4px; }
#depage-live-help .icon-properties:before {
  background-position: -31.92px -319.2px;
  background-size: 127.68px 638.4px; }
#depage-live-help .icon-preview:before {
  background-position: -63.84px -319.2px;
  background-size: 127.68px 638.4px; }

/* }}} */
/* {{{ dlg */
#dlg {
  position: absolute;
  padding: 10px;
  top: 100px;
  right: 50px;
  line-height: 22px; }
  #dlg span {
    display: inline-block;
    position: relative;
    width: 22px; }
  #dlg .question,
  #dlg .yes,
  #dlg .no {
    display: block;
    position: absolute;
    top: -14px;
    width: 22px;
    height: 22px; }

/* }}} */
/* vim:set ft=scss sw=4 sts=4 fdm=marker : */
