/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */
.jstree-container {
  position: absolute;
  width: auto;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

.jstree li {
  line-height: 24px !important;
  min-height: 24px !important;
}
.jstree a {
  line-height: 24px !important;
  min-height: 24px !important;
}
.jstree span {
  margin-left: 10px;
  color: #999999;
}

#jstree-add-marker {
  padding: 0;
  margin: 0;
  /*line-height:12px; font-size:1px; */
  overflow: hidden;
  height: 24px;
  width: 24px;
  position: absolute;
  top: -30px;
  z-index: 10000;
  background-repeat: no-repeat;
  display: none;
}

.jstree-add-marker-between {
  background-color: yellow;
}

.jstree-add-marker-inside {
  background-color: green;
}

.jstree-add-marker-disabled {
  background-color: red;
}

/* default style */
.jstree-default {
  background: #e3e3e3;
}
.jstree-default.jstree-focused {
  background: #ffffff;
}
.jstree-default li,
.jstree-default ins {
  background-image: url("../images/jstree/tree.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.jstree-default li {
  background-position: -90px 0;
  background-repeat: repeat-y;
}
.jstree-default li.jstree-last {
  background: transparent;
}
.jstree-default .jstree-open > .jstree-ocl {
  background-position: -72px 0;
}
.jstree-default .jstree-closed > .jstree-ocl {
  background-position: -54px 0;
}
.jstree-default .jstree-leaf > .jstree-ocl {
  background-position: -36px 0;
}
.jstree-default .jstree-loading > .jstree-ocl {
  background: url("../images/jstree/throbber.gif") center center no-repeat !important;
}
.jstree-default .jstree-hovered {
  background: #e7f4f9;
  border: 1px solid #d8f0fa;
  padding: 0 2px 0 1px;
  border-radius: 2px;
}
.jstree-default .jstree-clicked {
  background: #beebff;
  border: 1px solid #99defd;
  padding: 0 2px 0 1px;
  border-radius: 2px;
}
.jstree-default a .jstree-themeicon {
  background-position: -56px -19px;
}
.jstree-default .jstree-no-dots li,
.jstree-default .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent;
}
.jstree-default .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -18px 0;
}
.jstree-default .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: 0 0;
}
.jstree-default > .jstree-wholerow-ul .jstree-hovered,
.jstree-default > .jstree-wholerow-ul .jstree-clicked {
  background: transparent;
  border: 0;
  padding: 1px 2px;
  border-radius: 0;
}
.jstree-default > .jstree-wholerow-ul .jstree-wholerow-hovered {
  background: #e7f4f9;
}
.jstree-default > .jstree-wholerow-ul .jstree-wholerow-clicked {
  background: #beebff;
}
.jstree-default .jstree-no-icons a .jstree-themeicon {
  display: none;
}
.jstree-default .jstree-search {
  font-style: italic;
  color: aqua;
}
.jstree-default .jstree-no-checkboxes .jstree-checkbox {
  display: none !important;
}
.jstree-default .jstree-check {
  display: none;
}
.jstree-default .jstree-checkbox {
  background-position: -2px -19px;
}
.jstree-default .jstree-checked {
  background-position: -38px -19px;
}
.jstree-default .jstree-undetermined {
  background-position: -20px -19px;
}
.jstree-default a:hover .jstree-checkbox {
  background-position: -2px -37px;
}
.jstree-default a:hover .jstree-checked {
  background-position: -38px -37px;
}
.jstree-default a:hover .jstree-undetermined {
  background-position: -20px -37px;
}
.jstree-default#jstree-dnd ins {
  background: transparent;
}
.jstree-default#jstree-dnd .jstree-ok {
  background: url("../images/jstree/tree.png") -2px -53px no-repeat;
}
.jstree-default#jstree-dnd .jstree-er {
  background: url("../images/jstree/tree.png") -18px -53px no-repeat;
}
.jstree-default .jstree-locked a {
  color: silver;
  cursor: default;
}
