<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="Bootstrap.php">
    <php>
        <var name="DB_DSN" value="mysql:host=localhost;dbname=test_db" />
        <var name="DB_USER" value="test_db_user" />
        <var name="DB_PASSWD" value="test_db_password" />
        <var name="DB_DBNAME" value="test_db" />
    </php>
    <logging>
        <log
        type="coverage-html"
        target="Report"
        />
    </logging>
</phpunit>
