@charset "utf-8";

@import "modules/_settings";

@import "../../shared/depage-sass-mixins/_base";
@import "../../HtmlForm/lib/sass/depage-forms";

@import "modules/_animations";
@import "modules/_icons";

/* {{{ colors */
    *::selection {
        background: $selectionBackgroundColor;
        color: $selectionTextColor;
    }
    *::-moz-selection {
        background: $selectionBackgroundColor;
        color: $selectionTextColor;
    }
    .head {
        color: #000000;
    }
    .normal,
    h2 a {
        color: #000000;
    }
    a,
    h2 a:hover,
    .error span,
    .depage-form p.cancel input,
    .select-all button {
        color: $linkColor;
    }
    body {
        background: #ffffff
    }
    #toolbarmain {
        background: #ffffff
    }
    .box .content {
        //background: $backgroundLighterColor;
    }
    .toolbar a {
        border: 1px solid transparent;
        color: $textBaseColor;

        &:hover {
            @include gradient(lighten($backgroundColor, 10%), lighten($backgroundColor, 2%));
            border-top-color: lighten($backgroundColor, 12%);
            border-bottom-color: darken($backgroundColor, 0%);
        }
    }
    .projectlist a:hover {
        background: #ffffff;
    }
    .projectlist div.details {
        background: #ffffff;
    }
    .projectlist div.details a {
        color: #000000;
    }
    .projectlist div.details a:hover {
        color: $linkColor;
        background: $backgroundColor;
    }
    .projectlist div.details table.lastchanged_pages .date,
    .projectlist div.details table.lastchanged_pages .lastpublish,
    .projectlist div.details table.lastchanged_pages .published a {
        color: #777777;
    }
    .projectlist div.details table.lastchanged_pages tr:hover a .date,
    .projectlist div.details table.lastchanged_pages tr:hover a {
        color: $linkColor;
    }
    .centered_box small  {
        color: #666666;
    }
    .centered_box .icon {
        color: $backgroundColor;
    }
    .centered_box .icon {
        color: #000000;
    }
    .tabs {
        background: #ffffff;

        .tab {
            a {
                color: #000000;
            }
            &:hover {
                background: $backgroundLighterColor;
            }
            &.active {
                background: $backgroundColor;
            }
        }
    }
    .dialog-full .tabs {
        background: $backgroundLighterColor;

        .tab {
            &.active {
                background: #ffffff;
            }
        }
    }
    .depage-form {
        input,
        textarea,
        .textarea,
        select {
            border: 1px solid $backgroundLighterColor;
            //background: #e3e3e3;
            color: #000000;

            &:hover {
                border: 1px solid $backgroundLighterColor;
            }
            &.focus,
            &:focus {
                border: 1px solid $borderColor;
                //background: #ffffff;
            }
            &:disabled {
                color: #7c808f;
            }
        }
        p.submit {
            input {
                border: 1px solid lighten(#7c808f, 10%);
            }
        }
    }
/* }}} */

/* {{{ global */
* {
    @include font(-apple-system-body, SFUI, system, system-ui , 'Helvetica Neue', 'Segoe UI', 'Source Sans Pro', 'Oxygen', Tahoma, Arial, Geneva, sans-serif);
    margin: 0;
    padding: 0;
}
body {
}
a {
    text-decoration : none;
}
div,
h1,
h2,
ul,
ol,
li,
p {
    font-size: $fSizeM;
    letter-spacing: 0.03em;
}
.content > h1 {
    font-size: $fSizeL;
    font-weight: normal;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
    line-height: 20px;
}
html,
body {
    margin: 0;
    /*height: 100%;*/
}
.head {
    font-weight : bold;
    line-height : 15px;
    margin-top : 7px;
    margin-bottom : 10px;
}
.normal {
    line-height : 15px;
    margin-bottom : 10px;
}
h1 {
    padding-top: 10px;
}
h1.size-XL {
    padding-bottom: 20px;
    letter-spacing: 0.1em;
}
ul {
    list-style: none;
    text-indent: 0px;
    margin: 0;
    padding: 6px 0 24px 0px;
}
li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.temp {
    line-height : 15px;
}
a img {
    border: none;
}
/* }}} */
/* {{{ border-radius */
.button,
button,
select,
.toggle-button,
.toolbar a,
.projectlist a,
.depage-form .submit input,
.depage-form .cancel input {
    @include radius(4px);
    cursor: pointer;
}
/* }}} */

@import "modules/_toolbars.scss";
@import "modules/_headers.scss";
@import "modules/_layouts.scss";

@import "modules/_preview.scss";
@import "modules/_tabs.scss";
@import "modules/_menus.scss";
@import "modules/_forms.scss";

@import "modules/_dialogs.scss";
@import "modules/_trees.scss";
@import "modules/_docProperties.scss";
@import "modules/_fileLibrary.scss";
@import "modules/_spectrum.scss";
@import "modules/_colorSchemes.scss";

@import "modules/_dashboard.scss";
@import "modules/_publish.scss";
@import "modules/_about.scss";
@import "modules/_tasks.scss";

@import "modules/_liveFilter.scss";
@import "modules/_liveHelp.scss";
@import "modules/_growl.scss";

// vim:set ft=scss sw=4 sts=4 fdm=marker :
